.scheduling-search {
  padding: 1rem;
  background-color: white;
}
.scheduling-search label {
  margin: 0.5rem 0;
  display: block;
}

.scheduling-search__controls {
  text-align: end;
}

::ng-deep .scheduling-search .ui-dropdown {
  width: 100%;
  min-width: auto;
}
