<fieldset class="scheduling-search">
  <legend>Buscar</legend>
  <form class="p-grid" [formGroup]="fgSearchScheduling">
    <div class="p-col-12 p-md-6 p-xl-3 ">
      <label class="tab-title-h1"> *Estado registro </label>
      <p-dropdown [options]="listStateProcedure" formControlName="stateProcedure" 
        placeholder="Seleccione" showClear="true"
        optionLabel="Descripcion">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-md-6 p-xl-3">
      <label class="tab-title-h1"> *Sala </label>
      <p-dropdown [options]="schedulingService.listRoom" formControlName="room" 
        placeholder="Seleccione" showClear="true"
        optionLabel="NombreCorto">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-md-6 p-xl-3">
      <label class="tab-title-h1"> *Mes Agendamiento </label>
      <p-dropdown [options]="listSchedulingMonth" formControlName="schedulingMonth" 
        placeholder="Seleccione" showClear="true"
        optionLabel="Descripcion">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-md-6 p-xl-3">
      <label class="tab-title-h1"> *Corte </label>
      <p-dropdown [options]="listSchedulingCut" formControlName="schedulingCut" 
        placeholder="Seleccione" showClear="true"
        optionLabel="fechaAgenda">
      </p-dropdown>
    </div>
    <div class="p-col-12 scheduling-search__controls">
      <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" (click)="clickButton.emit(fgSearchScheduling.value)"></button>
    </div>
  </form>
</fieldset>
