<p-table [columns]="columnsDescriptionPayment" [value]="dataDescriptionPayment" [responsive]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Codigo tarifa</th>
            <th>Concepto</th>
            <th>Descripcion</th>
            <th>Valor</th>
            <th *ngIf="accion==true">Accion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato let-columns ="columns">
        <tr>
            <td *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                {{dato[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="ui-g-12 ui-sm-12" >
    <p class="ui-g-9 ui-sm-7" style="text-align: right;margin: 0px">Total</p>
    <input class="ui-g-2 ui-sm-5" style="text-align: center" value="$  {{totalFull}}" [disabled]="true" >
</div>
