button {
    margin-left: 10%;
    width: 75px;
    height: 30px;
    color: #f7f7f7;
    background-color: #009ec8
}

p-button {
    margin-left: 10%;
    width: 75px;
    height: 30px;
    color: #f7f7f7;
    background-color: #009ec8
}

.title {
    color: #009ec8;
}

.title h3 {
    margin: 0px 10px 0px;
}

label {
    margin: 15px;
    color: #009ec8;
}