<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-sm-12 ui-md-12 ui-lg-12 " style="background-color: #e1faff;">
            <div class="title">
                <h3>Consulta radicado relacionado</h3>
            </div>
        </div>

        <div class="ui-sm-12 ui-md-12 ui-lg-12" style="margin-top: 3%">
            <label>* Numero de radicado</label>
            <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue" label="Tramite" style="margin-left: 5%;"></p-radioButton>
            <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue" label="Correspondencia" style="margin-left: 2%;">Correspondencia</p-radioButton>
        </div>

        <div class="ui-sm-12 ui-md-10 ui-lg-6" style="margin: 15px;">
            <input id="Radicado" type="text" pInputText placeholder="xxxxxxxxxxxxxxxx" maxlength="11">
        </div>

        <div class="ui-sm-12 ui-md-10 ui-lg-4" style="margin: 15px;">
            <p-button label="Buscar" styleClass="ui-button-info"></p-button>
            <p-button label="Limpiar"></p-button>
        </div>
    </div>
</div><br>
