<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Registro Sanitario</h1>
        <div class="ui-g">
            <p-table [value]="tableUnifyConcepts" [responsive]="true" >
                <ng-template pTemplate="header">
                    <tr>

                        <th style="width: 20%">Grupo</th>
                        <th>Concepto</th>
                        <th style="width: 15%">Fecha</th>
                        <th style="width: 10%">Decision</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                    <tr>
                        <td>{{rowData.group}}</td>
                        <td>{{rowData.concept}}</td>
                        <td>{{rowData.date}}</td>
                        <td>{{rowData.decision}}</td>


                    </tr>
                </ng-template>
            </p-table>
            <div class="ui-g-12" style="display: flex; justify-content: flex-end ">
                <div class="ui-g-3" style="margin-top: 15px">
                    <button pButton type="button" class="ui-button-success"
                            label="Producir documento"></button>
                </div>
            </div>

        </div>
    </div>
</div>
