<div class="ui-g">
    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g form-group">
            <div class="ui-sm-12 ui-md-6 ui-g-3 ui-lg-3">
                <label>Grupo</label>
                <p-dropdown [options]="group" [showClear]="true" placeholder="Select" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-g-3 ui-lg-3">
                <label>Nombre del profesional legal</label>
                <p-dropdown [options]="group" [showClear]="true" placeholder="Select" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-g-4 ui-lg-4">
                <label>Nombre del profesional técnico</label>
                <p-dropdown [options]="group" [showClear]="true" placeholder="Select" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-g-2 ui-lg-2">
                <button pButton type="button" label="Consultar"
                        class="ui-button-rounded ui-button-success"></button>
            </div>
            <p-table [value]="assign" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr style="background: #5b6976">
                        <th style="width: 10%">Seleccionar</th>
                        <th>Grupo</th>
                        <th>Nombre profesional legal</th>
                        <th>Trámites asignados</th>
                        <th>Trámites pendientes por gestionar</th>
                        <th>Nombre del técnico</th>
                        <th>Trámites asignados</th>
                        <th>Trámite pendientes por gestionar</th>
                        <th style="width: 10%">Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-asig>
                    <tr>
                        <td>
                            <p-checkbox value="select"></p-checkbox>
                        </td>
                        <td>{{asig.group}}</td>
                        <td>{{asig.legalName}}</td>
                        <td>{{asig.assignprocedureL}}</td>
                        <td>{{asig.pendingProcedureL}}</td>
                        <td>{{asig.technicalName}}</td>
                        <td>{{asig.assignProcedureT}}</td>
                        <td>{{asig.pendingProcedureT}}</td>
                        <td>
                            <span class="material-icons cursor-dynamic">delete</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
