<form class="ui-g" [formGroup]="formInfoLegalHeadline" (ngSubmit)=" onSubmit(formInfoLegalHeadline)">
    <div class="ui-g-3">
        <p>Tipo documento</p>
        <p-dropdown formControlName="documentType" [options]="documentTypes" placeholder="Seleccione" optionLabel="name"></p-dropdown>
    </div>
    <div class="ui-g-3">
        <p>N° documento</p>
        <input type="text" pInputText formControlName="documentNumber">
    </div>
    <div class="ui-g-6">
        <p>Nombre o razon social</p>
        <input type="text" pInputText formControlName="reasonName">
    </div>

    <div class="ui-g-6">
        <p>Direccion</p>
        <input type="text" pInputText formControlName="addressHouse">
    </div>

    <div class="ui-g-3">
        <p>Pais</p>
        <p-dropdown formControlName="country" [options]="countries" placeholder="Seleccione" optionLabel="name"></p-dropdown>
    </div>

    <div class="ui-g-3">
        <p>Departamento</p>
        <p-dropdown formControlName="department" [options]="states" placeholder="Seleccione" optionLabel="name"></p-dropdown>
    </div>

    <div class="ui-g-3">
        <p>Ciudad</p>
        <p-dropdown formControlName="cityResidence" [options]="cities" placeholder="Seleccione" optionLabel="name"></p-dropdown>
    </div>
    <div class="ui-g-3">
        <p>Correo Electronico</p>
        <input type="text" pInputText formControlName="email">
    </div>
    <div class="ui-g-3">
        <p>Telefono</p>
        <input type="text" pInputText formControlName="telephone">
    </div>
    <div class="ui-g-3">
        <p>Celular</p>
        <input type="text" pInputText formControlName="cellphone">
    </div>



    <div class="ui-g-12">
        <div style="text-align: right">
            <button pButton type="submit" [label]="isEditing? 'Actualizar': 'Guardar'"
                    class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
    </div>
</form>
