<div class="ui-g ui-fluid" [formGroup]  ="fgSelectRoom">
    <div class="ui-sm-12 ui-md-12 ui-lg-12" style="margin-top: 3%">
        <label>* Nombre sala</label>
    </div>
    <div class="ui-sm-12 ui-md-10 ui-lg-6" style="margin: 15px;">
        <p-dropdown [options]="Lista" [(ngModel)]="selected" formControlName="roomName"></p-dropdown>
    </div>
</div>