<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
            </p-panel>

            <form [formGroup]="form">
                <p-panel class="ui-g-12">
                    <p-header>Plan de gestión de riesgo</p-header>
                    <h4 style="color: #0e0e9f; margin-left: 8px;">Parte I Generalidades del
                        medicamento</h4>
                    <p-fieldset legend="Información sobre el principio activo">
                        <div class="ui-g-12">
                            <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                                <label class="tab-title-h5"><span>*</span> Grupo fármaco-terapéutico
                                    según clasificación ATC</label>
                                <input type="text" pInputText formControlName="grupoFTatc" >
                            </div>

                            <div class="ui-sm-12 ui-g-2 ui-lg-2 ui-md-2">
                                <label class="tab-title-h5"><span>*</span> Folio</label>
                                <input type="number" pInputText formControlName="folioFTatc">
                            </div>
                        </div>

                        <div class="ui-g-12">
                            <div class="ui-sm-12 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5"><span>*</span> Mecanismo de
                                    acción</label>
                                <textarea rows="2" pInputTextarea
                                          formControlName="mechanism"></textarea>
                            </div>

                            <div class="ui-sm-12 ui-g-2 ui-lg-2 ui-md-2">
                                <label class="tab-title-h5"><span>*</span> Folio</label>
                                <input type="number" pInputText formControlName="folioMechanism"/>
                            </div>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Información sobre el medicamento">
                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Fecha de la primera
                                    autorización</label>
                            </div>
                            <div class="ui-g-12">
                                <p-calendar formControlName="firstAuthorization"
                                            dateFormat="dd/mm/yy" [showIcon]="true"
                                            [(ngModel)]="firstAuthorization" [locale]="es"
                                            [readonlyInput]="true">
                                </p-calendar>
                            </div>
                        </div>

                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12" style="margin-top: -6px;">
                                <label class="tab-title-h5"><span>*</span> País de la primera
                                    autorización</label>
                            </div>
                            <div class="ui-g-12">
                                <p-dropdown formControlName="countryAuthorization"
                                            [options]="countryLs"
                                            placeholder="Seleccione" optionLabel="name">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Folio</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="folio1" pInputText type="number"/>
                            </div>
                        </div>

                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Fecha inicio
                                    Comercialización</label>
                            </div>
                            <div class="ui-g-12">
                                <p-calendar formControlName="firstCommercialization"
                                            dateFormat="dd/mm/yy"
                                            [showIcon]="true" [(ngModel)]="firstCommercialization"
                                            [locale]="es"
                                            [readonlyInput]="true">
                                </p-calendar>
                            </div>
                        </div>

                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12" style="margin-top: -6px;">
                                <label class="tab-title-h5"><span>*</span> País inicio
                                    comercialización</label>
                            </div>
                            <div class="ui-g-12">
                                <p-dropdown formControlName="countryCommercialization"
                                            [options]="countryCommercialization" [showClear]="true"
                                            placeholder="Seleccione"
                                            optionLabel="name" [filter]="true" showClear="true">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Folio</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="folio2" pInputText type="number"/>
                            </div>
                        </div>

                        <h4 style="color: #0e0e9f; margin-left: 8px;">Ingrese los nombres
                            comerciales a los cuales les
                            aplica este PGR</h4>
                        <div class="ui-sm-8 ui-g-8 ui-lg-8 ui-md-8">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Nombre comercial</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="tradeName" pInputText type="text">
                            </div>
                        </div>

                        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Folio</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="folio3" pInputText type="number"/>
                            </div>
                        </div>

                        <!--                        <div class="ui-sm-1 ui-g-1 ui-lg-1 ui-md-1">-->
                        <!--                            <div class="ui-g-12">-->
                        <!--                                <button pButton type="button" label="+"-->
                        <!--                                        class="ui-button-rounded"></button>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </p-fieldset>

                    <p-fieldset legend="Información administrativa del PGR">
                        <div class="ui-g-12">
                            <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                                <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Fecha del corte del PGR</label>
                                </div>
                                <div class="ui-g-12">
                                <p-calendar formControlName="pgrCut" dateFormat="dd/mm/yy"
                                                [showIcon]="true"
                                                [(ngModel)]="pgrCut" [locale]="es"
                                                [readonlyInput]="true">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-3">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5"><span>*</span> Folio</label>
                                </div>
                                <div class="ui-g-12">
                                    <input formControlName="folio4" pInputText type="number" >
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12">
                            <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                                <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> PGR</label>
                                </div>
                                    <div class="ui-sm-5 ui-g-5 ui-lg-5 ui-md-5">
                                        <p-radioButton formControlName="groupPgr" name="groupPgr" label="Inicial"
                                                       value="initial"></p-radioButton>
                                    </div>
                                    <div class="ui-sm-7 ui-g-7 ui-lg-7 ui-md-7">
                                        <p-radioButton formControlName="groupPgr" name="groupPgr" label="Actualización"
                                                       value="actualization"></p-radioButton>
                                    </div>
                            </div>

                            <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5"><span>*</span> Folio</label>
                                </div>
                                <div class="ui-g-12">
                                    <input formControlName="folio5"  pInputText type="number" >
                                </div>
                            </div>

                            <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5"><span>*</span> Número de versión PGR</label>
                                </div>
                                <div class="ui-g-12">
                                    <input formControlName="pgrVersion" pInputText type="number">
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </p-panel>



            </form>
        </div>
    </div>
</div>
