<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
            </p-panel>
            
            <p-panel class="ui-g-12">
                <p-header>Información técnica del producto</p-header>
                <div class="ui-g">
                    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">*Nombre de producto</label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" disabled="true" />
                        </div>
                    </div>
                    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">*Numero de solicitud del IUM</label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="number" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" min="1" max="999999" />
                        </div>
                    </div>
                    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">*Marca</label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" disabled="true" />
                        </div>
                    </div>
                    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">*Via administración</label>
                        </div>
                        <div class="ui-g-12">
                            <p-multiSelect [options]="adminRoute" [(ngModel)]="selectedCars1"
                                [panelStyle]="{minWidth:'12em'}">
                            </p-multiSelect>
                        </div>
                    </div>
                    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">*Presentación comercial</label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" disabled="true" />
                        </div>
                    </div>
                    <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
                        <div class="ui-g-12">
                            <button pButton type="button" class="ui-button-success" label="Agregar"></button>
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <p-table [value]="requests">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="settledNum" style="width:500px;  text-align: center;">
                                        Presentación comercial
                                        <p-sortIcon field="settledNum"></p-sortIcon>
                                    </th>
                                    <th style=" text-align: center;">Acciones</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-index="rowIndex">
                                <tr>
                                    <td>{{data.settledNum }}</td>

                                    <button icon="ui-icon-edit" pButton type="button" style="top:7px; left:100px"
                                        class="ui-button-rounded ui-button-success" (click)="openMod(1)"></button>

                                    <button icon="ui-icon-delete" pButton type="button" style="top:7px; left:150px"
                                        class="ui-button-rounded ui-button-success" (click)="delete(index,1)"></button>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Información técnica del producto - componentes</p-header>
                <div class="ui-g">

                    <p-fieldset class="ui-g-12">
                        <p-header>Concentración</p-header>
                        <div class="ui-g">
                            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5">*Cantidad</label>
                                </div>
                                <div class="ui-g-12">
                                    <input pInputText type="text" autocomplete="off" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" />
                                </div>
                            </div>
                            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                                <label class="tab-title-h5">*Unidad de medida</label>
                                <p-dropdown [options]="option" [showClear]="true" placeholder="Seleccione"
                                    optionLabel="name" showClear="true">
                                </p-dropdown>
                            </div>
                            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5">*Formula
                                        cuali-cuantitativa</label>
                                </div>
                                <div class="ui-g-12">
                                    <input pInputText type="text" autocomplete="off" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" />
                                </div>
                            </div>
                        </div>
                    </p-fieldset>

                    <p-fieldset class="ui-g-12">
                        <p-header>Composición</p-header>
                        <div class="ui-g">
                            <p-fieldset class="ui-g-12">
                                <p-header>Información principio activo</p-header>
                                <div class="ui-g">
                                    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">*Principio activo</label>
                                            <p-dropdown [options]="activePrinciple" [showClear]="true"
                                                placeholder="Seleccione" optionLabel="name" showClear="true">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">*Cuál</label>
                                        </div>
                                        <div class="ui-g-12">
                                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                                autocapitalize="off" spellcheck="off" />
                                        </div>
                                    </div>
                                    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">Documento
                                                técnico</label>
                                        </div>
                                        <div class="ui-g-12">
                                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                                autocapitalize="off" spellcheck="off" />
                                        </div>
                                    </div>
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">*Cantidad</label>
                                        </div>
                                        <div class="ui-g-12">
                                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                                autocapitalize="off" spellcheck="off" />
                                        </div>
                                    </div>
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">*Unidad de
                                                medida</label>
                                            <p-dropdown [options]="unit" [showClear]="true" placeholder="Seleccione"
                                                optionLabel="name" showClear="true">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">*Unidad de
                                                referencia</label>
                                            <p-dropdown [options]="reference" [showClear]="true"
                                                placeholder="Seleccione" optionLabel="name" showClear="true">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <div class="ui-g-12">
                                            <button pButton type="button" class="ui-button-success"
                                                label="Agregar"></button>
                                        </div>
                                    </div>

                                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                                        <p-table [value]="requests2">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="activePrinciple">
                                                        Principio activo
                                                        <p-sortIcon field="activePrinciple"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="reason" style=" text-align: center;">Cuál
                                                        <p-sortIcon field="reason"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="quantity" style=" text-align: center;">Cantidad
                                                        <p-sortIcon field="quantity"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="measure" style=" text-align: center;">Unidad de
                                                        medida
                                                        <p-sortIcon field="measure"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="referenceUnit" style=" text-align: center;">
                                                        Unidad
                                                        de referencia
                                                        <p-sortIcon field="referenceUnit"></p-sortIcon>
                                                    </th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-data let-index="rowIndex">
                                                <tr>
                                                    <td>{{data.activePrinciple }}</td>
                                                    <td>{{data.reason }}</td>
                                                    <td>{{data.quantity }}</td>
                                                    <td>{{data.measure }}</td>
                                                    <td>{{data.referenceUnit }}</td>
                                                    <div class="centrar_contenido">
                                                        <button icon="ui-icon-edit" pButton type="button"
                                                            class="ui-button-rounded ui-button-success"
                                                            (click)="openMod(2)"></button>

                                                        <button icon="ui-icon-delete" pButton type="button"
                                                            class="ui-button-rounded ui-button-success"
                                                            (click)="delete(index,2)"></button>
                                                    </div>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                </div>
                            </p-fieldset>


                            <p-fieldset class="ui-g-12">
                                <p-header>Información excipientes</p-header>
                                <div class="ui-g">
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">*Componente</label>
                                        </div>
                                        <div class="ui-g-12">
                                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                                autocapitalize="off" spellcheck="off" />
                                        </div>
                                    </div>
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">*Cantidad</label>
                                        </div>
                                        <div class="ui-g-12">
                                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                                autocapitalize="off" spellcheck="off" />
                                        </div>
                                    </div>
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <label class="tab-title-h5">*Unidad de medida</label>
                                        <p-dropdown [options]="measure" [showClear]="true" formControlName="parameter"
                                            placeholder="Seleccione" optionLabel="name" showClear="true">
                                        </p-dropdown>
                                    </div>
                                    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                                        <div class="ui-g-12">
                                            <label class="tab-title-h5">Documento
                                                técnico</label>
                                        </div>
                                        <div class="ui-g-12">
                                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                                autocapitalize="off" spellcheck="off" />
                                        </div>
                                    </div>

                                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                                        <p-table [value]="requests3">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="component" style=" text-align: center;">
                                                        Componente
                                                        <p-sortIcon field="component"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="quantity2" style=" text-align: center;">
                                                        Cantidad
                                                        <p-sortIcon field="quantity2"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="measure2" style=" text-align: center;">Unidad
                                                        de
                                                        medida
                                                        <p-sortIcon field="measure2"></p-sortIcon>
                                                    </th>
                                                    <th style=" text-align: center;">Acciones</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-data let-index="rowIndex">
                                                <tr>
                                                    <td>{{data.component }}</td>
                                                    <td>{{data.quantity2 }}</td>
                                                    <td>{{data.measure2 }}</td>

                                                    <button icon="ui-icon-edit" pButton type="button"
                                                        class="ui-button-rounded ui-button-success"
                                                        (click)="openMod(3)"></button>

                                                    <button icon="ui-icon-delete" pButton type="button"
                                                        class="ui-button-rounded ui-button-success"
                                                        (click)="delete(index,3)"></button>

                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </p-fieldset>

                        </div>
                    </p-fieldset>

                    <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
                        <div class="ui-g-12">
                            <button pButton type="button" class="ui-button-success" style=" left:700px">Agregar
                                concentración</button>
                        </div>
                    </div>

                </div>
            </p-panel>


        </div>
    </div>
</div>

<p-dialog header="" [(visible)]="generateConcept" [style]="{width: '80vw'}" [baseZIndex]="10000">
    <p-panel class="ui-g-12" style=" text-align: center;">
        <p-header>Editar información técnica del producto</p-header>
        <div class="ui-g">

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Nombre de producto</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" disabled="true" />
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Numero de solicitud del IUM</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="number" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" min="1" max="999999" />
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Marca</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" disabled="true" />
                </div>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Via administración</label>
                </div>
                <div class="ui-g-12">
                    <p-multiSelect [options]="adminRoute" [(ngModel)]="selectedCars1" [panelStyle]="{minWidth:'12em'}">
                    </p-multiSelect>
                </div>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Presentación comercial</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" disabled="true" />
                </div>
            </div>
        </div>
    </p-panel>
    <p-footer>
        <button pButton type="button" label="Guardar" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="cancelar" class="ui-button-rounded ui-button-danger"></button>
    </p-footer>
</p-dialog>


<p-dialog header="" [(visible)]="generateConcept2" [style]="{width: '80vw'}" [baseZIndex]="10000">
    <p-panel class="ui-g-12" style=" text-align: center;">
        <p-header>Editar información principio activo</p-header>
        <div class="ui-g">
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Principio activo</label>
                    <p-dropdown [options]="activePrinciple" [showClear]="true" placeholder="Seleccione"
                        optionLabel="name" showClear="true">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Cuál</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" />
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Documento
                        técnico</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" />
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Cantidad</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" />
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Unidad de
                        medida</label>
                    <p-dropdown [options]="unit" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                        showClear="true">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Unidad de
                        referencia</label>
                    <p-dropdown [options]="reference" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                        showClear="true">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </p-panel>
    <p-footer>
        <button pButton type="button" label="Guardar" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="cancelar" class="ui-button-rounded ui-button-danger"></button>
    </p-footer>
</p-dialog>

<p-dialog header="" [(visible)]="generateConcept3" [style]="{width: '80vw'}" [baseZIndex]="10000">
    <p-panel class="ui-g-12" style=" text-align: center;">
        <p-header>Editar información excipientes</p-header>
        <div class="ui-g">
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Componente</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" />
                </div>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">*Cantidad</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" />
                </div>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <label class="tab-title-h5">*Unidad de medida</label>
                <p-dropdown [options]="measure" formControlName="parameter" placeholder="Seleccione"
                    optionLabel="name" showClear="true">
                </p-dropdown>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Documento
                        técnico</label>
                </div>
                <div class="ui-g-12">
                    <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="off" />
                </div>
            </div>
        </div>
    </p-panel>
    <p-footer>
        <button pButton type="button" label="Guardar" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="cancelar" class="ui-button-rounded ui-button-danger"></button>
    </p-footer>
</p-dialog>
