.containerRetail{
    margin: 0px ;
    padding: 0%;
    box-sizing: border-box
}

label {
    color: #28b5d1;
    padding: 8px
}

::ng-deep .containerRetail .ui-dropdown {
    margin: 10px 0px;
    width: 80%;
    color: black;
}