<div class="containerRetail p-grid" [formGroup]  ="fgRequest">
    <div class="p-col">
        <label>
            <p>Sala</p>
            <p-dropdown [options]="Lista" [(ngModel)]="selected" formControlName="room"></p-dropdown>

        </label>
        <label>
            <p>Fecha acta</p>
            <p-dropdown [options]="Fecha" optionLabel="name" formControlName="actDate"></p-dropdown>
        </label>
    </div>
    <div class="p-col">
        <label>
            <p>Numero de acta</p>
            <p-dropdown [options]="NumeroActa" optionLabel="name" formControlName="actNumber"></p-dropdown>
        </label>
        <label>
            <p>Numeral</p>
            <p-dropdown [options]="Numeral" optionLabel="name" formControlName="numeral"></p-dropdown>
        </label>
    </div>
</div>