<p-table [columns]="headerTable" [value]="dataTable" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Codigo Tarifa</th>
            <th>Concepto</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Valor</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex" >
        <tr>
            <td ><span class="ui-column-title">{{"Codigo Tarifa"}}</span>{{item.codigoTarifa}}</td>
            <td ><span class="ui-column-title">{{"Concepto"}}</span>{{item.concepto}}</td>
            <td ><span class="ui-column-title">{{"Descripcion"}}</span>{{item.descripcion}}</td>
            <td pEditableColumn >
                <span class="ui-column-title">{{"Cantidad"}}</span>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number"  min="1" [(ngModel)]="item.cantidad" (ngModelChange)="calculateValue(index,item.cantidad)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{item.cantidad}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td ><span class="ui-column-title">{{"Valor"}}</span>{{totalValue[index] }}</td>

        </tr>
    </ng-template>
</p-table>
