<div taskBody class="ui-g ui-fluid divSecundary">
    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Cumplimiento de las BPM</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="complianceBpm" [showClear]="true" placeholder="Seleccione"
                        optionLabel="name"
                        [(ngModel)]="complianceSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Autoridad Regulatoria</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="regulatoryAuditing" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true"/>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Pais que expide el certificado</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="issuingCountry" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true"/>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fecha de expedicion del documento</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="documentExpeditionDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Número del documento</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="documentNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true"/>
        </div>
    </div>


    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Vigencia</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="validityDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="p-grid" style="width:250px" style="margin-left: 10px">
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="Debe corresponder alguno de los paises u organizaciones establecidas en el decreto 162/2004"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="El certificado debe informar sobre el cumplimiento de BPM para el medicamento especifico"
                            [(ngModel)]="selectedVerifies"
                            inputId="sf"></p-checkbox>
            </div>
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="El certificado debe informar sobre inspecciones periodicas por parte de la autoridad sanitaria"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-6">
        <div class="ui-g-12" style="text-align: right">
            <button pButton type="button" label="Agregar Cumplimiento"
                    class="ui-button-rounded ui-button-success"
                    style="width: 180px">
            </button>
        </div>
    </div>
    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
        <div class="ui-g-12" style="text-align: right">
            <button pButton type="button" label="Guardar"
                    class="ui-button-rounded ui-button-success"
                    style="width: 180px">
            </button>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Cumplimiento de las BPM</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="complianceBpm" [showClear]="true" placeholder="Seleccione"
                        optionLabel="name"
                        [(ngModel)]="complianceSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Autoridad Regulatoria</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="regulatoryAuthority" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true"/>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">País que expide el certificado</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="issuingCountry" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true"/>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fecha de expedición del documento</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="expeditionDocumentDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fecha de la última inspección</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="lastInspectionDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Número de documento</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="documentNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true"/>
        </div>
    </div>


    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Vigencia</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="validityDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="p-grid" style="width:250px" style="margin-left: 10px">
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="Debe corresponder alguno de los paises u organizaciones establecidas en el decreto 162/2004 o ser una resolución de certificación en BPM emitida por el Invima"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="El documento debe especificar áreas de manufactura y/o procesos de producción y/o especificar tipo de  productos autorizados"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="Cada área, proceso o tipo de producto declarado en el certificado debe sera adecuado al medicamente que se esta solicitado en el Registro Sanitario (Revisar si se requieren áreas especiales)"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-6">
        <div class="ui-g-12" style="text-align: right">
            <button pButton type="button" label="Agregar Cumplimiento"
                    class="ui-button-rounded ui-button-success"
                    style="width: 180px">
            </button>
        </div>
    </div>
    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
        <div class="ui-g-12" style="text-align: right">
            <button pButton type="button" label="Guardar"
                    class="ui-button-rounded ui-button-success"
                    style="width: 180px">
            </button>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Cumplimiento de las BPM</label>
        </div>
        <div class="ui-g-12" style="margin-top: 16px">
            <p-dropdown [options]="complianceBpm" [showClear]="true" placeholder="Seleccione"
                        optionLabel="name"
                        [(ngModel)]="complianceSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fecha de expedición del certificado de reconocimiento</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="cetifyExpeditionDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Número del documento</label>
        </div>
        <div class="ui-g-12" style="margin-top: 18px">
            <input [(ngModel)]="documentNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true"/>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Vigencia</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="validityDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>


    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="p-grid" style="width:250px" style="margin-left: 10px">
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value="" label="Debe especificar áreas de manufactura"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="El documento debe especificar áreas de manufactura y/o procesos de producción y/o especificar tipo de  productos autorizados"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
            <div class="p-col-12" style="margin-top: 10px">
                <p-checkbox name="group1" value=""
                            label="El certificado debe ser adecuado para el medicamento que se esta solicitado en el Registro Sanitario (Revisar si se requieren áreas especiales)"
                            [(ngModel)]="selectedVerifies"
                            inputId=""></p-checkbox>
            </div>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-20" style="text-align: right">
            <button pButton type="button" label="Guardar"
                    class="ui-button-rounded ui-button-success"
                    style="width: 180px">
            </button>
        </div>
    </div>
</div>

