<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">

            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Información titular</p-header>
                <app-legal-information-headline></app-legal-information-headline>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Información representante legal-apoderado</p-header>
                <app-legal-information-attorney></app-legal-information-attorney>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Información róles</p-header>
                <app-legal-information-role></app-legal-information-role>
            </p-panel>
            <div class="ui-g" style="text-align: left">
                <div class="ui-g-1">
                    <p-checkbox [(ngModel)]="value" [binary]="true" (click)="showDialogNotification()"></p-checkbox>
                </div>
                <p-dialog [(visible)]="displayNotification"  [style]="{width: '70vw'}">
                    <app-electronic-notification></app-electronic-notification>
                </p-dialog>

                <div class="ui-g-11">
                    <h4>AUTORIZO AL INVIMA A REALIZAR LA NOTIFICACIÓN DE MANERA ELECTRÓNICA DE ACUERDO CON LOS ARTÍCULOS
                        54 Y 56 DE LA
                        LEY 1437 DE 2011 AL CORREO
                        ELECTRÓNICO</h4>
                </div>
                <br>

                <div class="ui-g-10">
                    <div style="text-align: right">
                        <button pButton type="submit" label="Guardar" class="ui-button-rounded ui-button-success"
                                style="width: 140px"></button>
                    </div>
                </div>
                <div class="ui-g-2">
                    <div style="text-align: right">
                        <button pButton type="submit" label="Continuar" class="ui-button-rounded ui-button-success"
                                style="width: 150px"></button>
                    </div>
                </div>
            </div>
            <p-dialog (onHide)="onHideDataMore()" header="Mas Información" [(visible)]="isActivateMoreData">
                <app-show-more [data]="list" [headers]="headers"></app-show-more>
            </p-dialog>
        </div>
    </div>
</div>

