.edit-agenda-scheduling__form textarea,
::ng-deep .edit-agenda-scheduling__form .ui-dropdown,
::ng-deep .edit-agenda-scheduling__form .ui-calendar .ui-datepicker,
::ng-deep .edit-agenda-scheduling__form .ui-listbox {
  width: 100%;
  min-width: auto;
}

.edit-agenda-scheduling__form label {
  width: 100%;
  display: inline-block;
  margin: 1rem 0;
}

:host ::ng-deep .edit-agenda-scheduling__form app-list-inputs {
  margin: 1rem 0;
}
