<form class="p-grid" [formGroup]="fgEditAgenda" class="edit-agenda-scheduling__form">
  <div class="p-col-12">
    <label class="tab-title-h1"> * Seleccionar sala </label>
    <p-dropdown [options]="schedulingService.listRoom" formControlName="idRoom"
      placeholder="Seleccione" showClear="true"
      optionLabel="NombreCorto">
    </p-dropdown>
  </div>
  <div class="p-col-12">
    <label class="tab-title-h1"> * Seleccionar ordenación </label>
    <p-dropdown [options]="listNumeralsRoom" formControlName="idNumeralRoom"
      placeholder="Seleccione" showClear="true"
      optionLabel="Descripcion">
    </p-dropdown>
  </div>
  <div class="p-col-12">
    <label class="tab-title-h1"> * Seleccionar mes agenda </label>
    <div class="p-grid card">
      <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
      <app-list-inputs [listInputs]="listInputs"></app-list-inputs>
    </div>
    <label class="tab-title-h1"> * Indique la justificación del cambio de la fecha </label>
    <textarea pInputTextarea rows="5" placeholder="Pon aqui tu mensaje" formControlName="justification"></textarea>
  </div>
  <div class="p-col-12">
    <label class="tab-title-h1"> * Lugar </label>
    <p-dropdown [options]="schedulingService.listLocation" formControlName="idLocation"
      placeholder="Seleccione" showClear="true"
      optionLabel="Descripcion">
    </p-dropdown>
  </div>
  <div class="p-col-12">
    <label class="tab-title-h1"> * Seleccionar comisionados </label>
    <p-listbox [options]="schedulingService.listCommissioners"  formControlName="commissioners"
      [multiple]="true" [checkbox]="true" [filter]="true" optionLabel="name"
      [listStyle]="{height:'120px'}">
    </p-listbox>
    <br>
    <strong> Comisionados seleccionados: </strong><br>
      <span *ngFor="let c of fgEditAgenda.get('commissioners').value" style="margin-right: 10px">{{c.name}}<br></span>
  </div>
</form>