<div class="ui-fluid">
    <!-- [formGroup] = "fgRequestDetail" -->
    <div class="ui-g">
        <label>* Agregar archivos desde links</label>
        <div class="ui-sm-12 ui-md-10 ui-lg-10">
            <input type="text" pInputText [(ngModel)]="inputLink" required placeholder="Ej: http://www.mitienda.es/producto2"> 
        </div>

        <div class="ui-sm-12 ui-md-2 ui-lg-2">
            <p-button label="Agregar" styleClass="ui-button-info" style="margin-left: 10%;" (onClick)="saveLink()"></p-button>
        </div>

        <div class="ui-sm-12 ui-md-12 ui-lg-12">
            <p-table [columns]="cols" [value]="links" [(selection)]="selectedLink" [paginator]="false" [rows]="5" [responsive]="true" [style]="{'margin':'15px'}">
                <!-- selectionMode="single" -->
                <ng-template pTemplate="header">
                    <!-- let-columns -->
                    <tr>
                        <!-- <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center; background-color: #009ec8; color: white; font-weight: bold; height: 80px;">
                            {{col.header}}
                        </th> -->

                        <th style="text-align: center; background-color: #009ec8; color: white; font-weight: bold;">Nombre documento</th>
                        <!-- <th style="width: 16%">Fecha creacion</th> -->
                        <th style="text-align: center; background-color: #009ec8; color: white; font-weight: bold; width: 30%">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" style="text-align: center;">
                            <div *ngIf="col.field != 'acciones'; else elseBlock">
                                <!-- {{ rowData[col.field] }} -->
                                <a [href]="rowData[col.field]" target="_blank" pTooltip="Ver archivo">{{ rowData[col.field] }}</a>
                            </div>
                            <ng-template #elseBlock>
                                <span class="material-icons cursor-dynamic" tooltipPosition="top" pTooltip="Editar link" style="margin-right: 10%;" (click)="selectLink(rowData)">edit</span>
                                <span class="material-icons cursor-dynamic" tooltipPosition="top" pTooltip="Eliminar link" (click)="confirm(rowData)">delete</span>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog header="Editar link" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '40vw'}">
        <div class="p-grid ui-fluid" *ngIf="link">
            <div class="p-field p-col-12">
                <label for="link">Link del archivo</label><br><br>
                <textarea id="link" type="text" rows="4" pInputTextarea [(ngModel)]="link.nombreDocumento" autofocus></textarea>
            </div>
        </div>

        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="updateLink()" label="Guardar"></button>
        </p-footer>
    </p-dialog>
</div>