<div class="view-agenda">
  <form class="ui-fluid p-formgrid p-grid" [formGroup]="fgSearchScheduling">
    <div class="p-field p-col-12 p-md-6 p-xl-3">
      <label for="listRoom">*Sala</label>
      <p-dropdown [options]="this.schedulingService.listRoom" formControlName="room" 
        placeholder="Seleccione" showClear="true"
        optionLabel="name" inputId="listRoom">
      </p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6 p-xl-3 ">
      <label for="listSchedulingMonth"> *Mes Agendamiento </label>
      <p-dropdown [options]="this.schedulingService.listSchedulingMonth" formControlName="schedulingMonth" 
        placeholder="Seleccione" showClear="true"
        optionLabel="name" inputId="listSchedulingMonth">
      </p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6 p-xl-3">
      <label for="listSchedulingCut"> *Corte </label>
      <p-dropdown [options]="this.schedulingService.listSchedulingCut" formControlName="schedulingCut" 
        placeholder="Seleccione" showClear="true"
        optionLabel="name" inputId="listSchedulingCut">
      </p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6 p-xl-3 ">
      <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success" ></button>
    </div>
  </form>
  <app-table-attach-document
    [columnsTable]="columnsTable"
    [valuesTable]="valuesTable"
    [listActions]="listActions"
  ></app-table-attach-document>
</div>