
<p-table [value]="infoLegal" dataKey="documentNumber">
    <ng-template pTemplate="header">
        <tr>
            <th>Tipo documento</th>
            <th>Número documento</th>
            <th>Nombre o razón social</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.documentType">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.documentType.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                {{rowData.documentNumber}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.reasonName">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.reasonName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.cityResidence">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.cityResidence.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.addressHouse">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.addressHouse}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" icon="ui-icon-plus"
                        class="ui-button-info" (click)="moreDetailTable(headers1, infoLegal)"></button>
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="ui-icon-edit"
                        class="ui-button-info" (click)="onRowEditInit(rowData, ri)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em"
                        (click)="onRowEditSave(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                <button *ngIf="!editing" pButton type="button" icon="ui-icon-trash"
                        class="ui-button-info" (click)="onRowDelete(ri)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<p-toast position="top-right"></p-toast>

<div style="text-align: right">
    <button pButton type="button" (click)="showDialogHeadline()" label="Agregar"
            class="ui-button-rounded ui-button-success"
            style="width: 150px"></button>
</div>
<p-dialog (onHide)="onHideHeadline()" header="Informacion del titular" [(visible)]="displayHeadline" [style]="{width: '70vw'}">
    <app-popup-headline (getData)="catchDataFormInfoLegalHeadline($event)"
                        [infoLegal]="getItemInfoLegalHeadline"
                        [isEditing]="isEditing"></app-popup-headline>
</p-dialog>
<p-dialog (onHide)="onHideDataMore()" header="Mas Información" [(visible)]="isActivateMoreData" [style]="{width: '70vw'}">
    <app-show-more [data]="list" [headers]="headers"></app-show-more>
</p-dialog>
