<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo></app-procedureInfo>
            </p-panel>
            <br>
            <p-panel class="ui-g-12">
                <p-header>Plan de gestión de riesgo</p-header>
                <h5 class="title" style="color: #0e0e9f; margin-left: 8px;">Parte II Especificaciones de seguridad: Sinopsis del perfil de seguridad</h5>
                <p-fieldset
                    legend="Epidemiologia de la(s) patología(s) incluida(s) en la(s) indicación(es) y población diana">
                    <div class="ui-g">
                        <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                            <label class="tab-title-h5">Descripción de la incidencia, prevalencia,
                                mortalidad, comorbilidades, población en riesgo</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                            <label class="tab-title-h5">Folio</label>
                            <p-chips></p-chips>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Población no estudiada en ensayos clínicos">
                    <div class="ui-g">
                        <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                            <label class="tab-title-h5">Población no estudiada o poco
                                estudiada</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                            <label class="tab-title-h5">Folio</label>
                            <p-chips></p-chips>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Experiencia post autorización">
                    <div class="ui-g">
                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Acciones tomadas por razones de
                                    seguridad por las autoridades regulatorias y/o titulares de
                                    autorizaciones</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Exposición post autorización</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Uso post- autorización en población no estudiada en ensayos clínicos</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Errores de medicación</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Uso fuera de indicación</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Riesgos identificados importantes</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Riesgos potenciales importantes</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                                <label class="tab-title-h5">Información faltante</label>
                                <p-chips></p-chips>
                            </div>
                            <div class="ui-sm-2 ui-md-2 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Folio</label>
                                <p-chips></p-chips>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

            </p-panel>
        </div>
    </div>
</div>

