<h1 class="tab-title-h1">Ejecucion Sala</h1>
<div class="p-grid p-align-stretch vertical-container">
  <app-search-scheduling class="p-col-12 p-xl-8"
    (clickButton)="table.applyFilter($event)"
    [fgSearchScheduling]="fgSearchScheduling"
    [view]="'ANZ001'"
  ></app-search-scheduling>
  <app-list-button-action class="p-col-12 p-xl-4" 
    [listControls]="listButtons"
  ></app-list-button-action>
  <app-table-scheduling #table class="p-col-12"
    [columnsTable]="columnsTable"
    [valuesTable]="valuesTable"
  ></app-table-scheduling>
</div>

<!-- View Agenda Modal -->
<p-dialog [(visible)]="displayView"  [modal]="true" [draggable]="false" styleClass="execution-room__modal">
  <app-update-state-work-assigned></app-update-state-work-assigned>
</p-dialog>

<!-- View Agenda Modal -->
<p-dialog [(visible)]="displayViewAgenda"  [modal]="true" [draggable]="false" styleClass="execution-room__modal">
  <app-view-agenda></app-view-agenda>
</p-dialog>

<!-- Attach Act Modal -->
<p-dialog [(visible)]="displayAttachAct"  [modal]="true" [draggable]="false" styleClass="execution-room__modal">
  <app-attach-document-modal>
  </app-attach-document-modal>
</p-dialog>

<!-- Update State Modal -->
<p-dialog [(visible)]="displayUpdateState"  [modal]="true" [draggable]="false">
  <app-update-status-modal>
  </app-update-status-modal>
</p-dialog>