.inquiries {
    background-color: white;
    padding-bottom: 1rem;
}

.inquiries span {
    color: #0d0d0e;
    font-weight: bold;
    margin-left: 1rem;
}

.inquiries label {
    color: #0FC1D3;
    font-weight: bold;
}

.inquiries h1 {
    color: #0FC1D3;
    margin-left: 1rem;
}

.inquiries .subtitle {
    color: #0FC1D3;
    background-color: #e1faff;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.request-detail__textarea {
    margin: 0 2rem;
}

.general-information app-list-inputs {
    margin: 1rem;
    display: block;
}