
<p-table #schedulingTable class="table-scheduling"
  [columns]="columnsTable" 
  [value]="valuesTable" 
  [responsive]="true" 
  [paginator]="true" 
  [rows]="5" 
  [rowsPerPageOptions]="[5,10,25,50]"
  [(selection)]="selectedItems" dataKey="id">
  <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
      </tr>
      <tr>
        <th style="width: 3em"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th *ngFor="let col of columns">
            <input pInputText style="width:100%" type="text" 
              (input)="schedulingTable.filter($event.target.value, col.field, 'contains')" placeholder="Buscar">
        </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            <p class="ui-column-title">{{col.header}}</p>
            {{rowData[col.field]}}
        </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
        <td [attr.colspan]="columns.length + 1">
            No se encontró ningun registro
        </td>
    </tr>
  </ng-template>
</p-table>