
.title {
    color: #009ec8;
}

label {
    margin: 15px;
    color: #0FC1D3;
}

.formFilingData__input{
    margin: 10px;
}

.formFilingData__input input{
    margin: 15px;
    color: #009ec8;
    width: 80%;
}

.formFilingData--second .formFilingData__input--option3, .formFilingData--second .formFilingData__input--option5, .formFilingData--second .formFilingData__input--option6, .formFilingData--second .formFilingData__input--option10, .formFilingData--second .formFilingData__input--option11{
    display: none;
}


