<div [formGroup] = "fgFilingData"  class="formFilingData p-grid"  [ngClass]="{'formFilingData--second': type == 'second', 'formFilingData--first': type == 'first'}">
    <div class="ui-sm-12 ui-md-6 ui-lg-6">
        <div class="formFilingData__input formFilingData__input--option1">
            <label>Número de radicado relacionado</label>
            <input type="text" pInputText placeholder="20202312345" maxlength="11" formControlName="filedNumber"
                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

        </div>
        <div class="formFilingData__input formFilingData__input--option2">
            <label>Expediente</label>
            <input type="number" pInputText placeholder="xxxxxxxxxxxxxxxx" maxlength="8" formControlName="proceedings"
                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </div>
        <div class="formFilingData__input formFilingData__input--option3">
            <label>Titular</label>
            <input type="text" pInputText placeholder="xxxxxxxxxxxxx" formControlName="Headline">
        </div>
        <div class="formFilingData__input formFilingData__input--option4">
            <label>Composición</label>
            <input type="text" pInputText placeholder="20 mlt, 50"  formControlName="composition">
        </div>
        <div class="formFilingData__input formFilingData__input--option5">
            <label>Indicaciones</label>
            <input type="text" pInputText formControlName="indications">
        </div>
        <div class="formFilingData__input formFilingData__input--option6">
            <label>Precauciones y advertencias</label>
            <input type="text" pInputText formControlName="precautions">
        </div>
    </div>
    <div class=" ui-sm-12 ui-md-6 ui-lg-6">
        <div class="formFilingData__input formFilingData__input--option7">
            <label>Fecha de radicado relacionado</label>
            <input type="datetime-local" pInputText formControlName="filingDate">
        </div>
        <div class="formFilingData__input formFilingData__input--option8">
            <label>Nombre del producto</label>
            <input type="text" pInputText placeholder="XXXXXXXXXXX" formControlName="productName">
        </div>
        <div class="formFilingData__input formFilingData__input--option9">
            <label>Principio activo</label>
            <input type="text" pInputText formControlName="activePriciple">
        </div>
        <div class="formFilingData__input formFilingData__input--option10">
            <label>Forma farmaceutica</label>
            <input type="text" pInputText placeholder="sachets" formControlName="pharamecuenticalForm">
        </div>
        <div class="formFilingData__input formFilingData__input--option11">
            <label>Contraindicaciones</label>
            <input type="text" pInputText placeholder="xxxxxxxxxxxxxxxx" formControlName="contraindications">
        </div>

    </div>
</div>