<div class="ui-g">

    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">Informacion general</ng-template>
            <app-procedureInfo></app-procedureInfo>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">Informacion legal</ng-template>
            Francis Ford Coppola's legendary continuation and sequel to
            his landmark 1972 film, The_Godfather parallels the young
            Vito Corleone's rise with his son Michael's spiritual fall,
            deepening The_Godfather's depiction of the dark side of the
            American dream. In the early 1900s, the child Vito flees his
            Sicilian village for America after the local Mafia kills his
            family. Vito struggles to make a living, legally or
            illegally, for his wife and growing brood in Little Italy,
            killing the local Black Hand Fanucci after he demands his
            customary cut of the tyro's business. With Fanucci gone,
            Vito's communal stature grows.
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">Informacion tecnica</ng-template>
            After a break of more than 15 years, director Francis Ford
            Coppola and writer Mario Puzo returned to the well for this
            third and final story of the fictional Corleone crime
            family. Two decades have passed, and crime kingpin Michael
            Corleone, now divorced from his wife Kay has nearly
            succeeded in keeping his promise that his family would one
            day be completely legitimate.
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">Informacion pago</ng-template>
            After a break of more than 15 years, director Francis Ford
            Coppola and writer Mario Puzo returned to the well for this
            third and final story of the fictional Corleone crime
            family. Two decades have passed, and crime kingpin Michael
            Corleone, now divorced from his wife Kay has nearly
            succeeded in keeping his promise that his family would one
            day be completely legitimate.
        </p-tabPanel>
    </p-tabView>

</div>