<p-table [columns]="columnPse" [value]="dataPse" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Tipo Documento</th>
            <th>Numero Documento</th>
            <th>Nombre Apellido</th>
            <th>Entidad Financiera</th>
            <th>Valor</th>
            <th>Fecha Transaccion</th>
            <th>Estado</th>
            <th>Numero Aprobacion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
