<div class="ui-g">

    <p-fieldset>
        <p-header>Informacion farmacologica</p-header>
        <p>Teniendo en cuenta la informacion allegada en el campo "Historia comercial" </p>

        <form [formGroup]="form">
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Parametro</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="parametro" pInputText type="text"/>
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Titulo</label>
                </div>
                <div class="ui-g-12">
                    <input  formControlName="title" pInputText type="text"/>
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Resumen de los estudios</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="resume" pInputText type="text" />
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Folio</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="folio" pInputText type="text" />
                </div>
            </div>

            <div class="ui-g-12" style="display: flex; justify-content: flex-end;">

                <div class="ui-g-2">
                    <button (click)="add()" pButton type="button" class="ui-button-success"
                            label="Agregar" [disabled]="!form.valid"></button>
                </div>
            </div>
        </form>
            <div class="ui-g-12" style="margin-top: 20px">
                <p-table [value]="resultInformation" [responsive]="true" [style]="{width: '90%', margin: 'auto'}" >
                    <ng-template pTemplate="header">
                        <tr>

                            <th>Parametro</th>
                            <th style="width: 20%">Titulo</th>
                            <th>Resumen de los estudios</th>
                            <th style="width: 20%">Folio</th>
                            <th>Acciones</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr>
                            <td>{{rowData.parameter}}</td>
                            <td>{{rowData.title}}</td>
                            <td>{{rowData.resume}}</td>
                            <td>{{rowData.folio}}</td>
                            <td style="text-align: center">

                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>



    </p-fieldset>

    <p-fieldset>
        <p-header>Otros estudios</p-header>
        <form [formGroup]="formOtherStudy" >
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Titulo de estudio</label>
                </div>
                <div class="ui-g-12">
                    <input  formControlName="studyTitle" pInputText type="text" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off" />
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label formControlName="resume" class="tab-title-h5">Resumen del estudio</label>
                </div>
                <div class="ui-g-12">
                    <input  pInputText type="text" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off" />
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Folio</label>
                </div>
                <div class="ui-g-12">
                    <input  formControlName="folio" pInputText type="text" autocomplete="off" autocorrect="off"
                           autocapitalize="off" spellcheck="off" />
                </div>
            </div>

            <div class="ui-g-12" style="display: flex; justify-content: flex-end;">

                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button-success"
                            label="Agregar" (click)="add()"
                            [disabled]="!formOtherStudy.valid"></button>
                </div>
            </div>
        </form>
            <div class="ui-g-12" style="margin-top: 20px">
                <p-table [value]="resultInformation" [responsive]="true" [style]="{width: '90%', margin: 'auto'}" >
                    <ng-template pTemplate="header">
                        <tr>

                            <th>Titulo del estudio</th>
                            <th style="width: 20%">Resumen de los estudios</th>
                            <th>Folio</th>
                            <th>Acciones</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr>
                            <td>{{rowData.titleStudy}}</td>
                            <td>{{rowData.resume}}</td>
                            <td>{{rowData.folio}}</td>
                            <td style="text-align: center">

                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>

    </p-fieldset>
</div>

