<div class="list-inputs p-grid ui-fluid">
  <ng-container *ngFor="let input of listInputs">
    <div class="p-field p-col-12 p-md-6">
      <label for="{{input.id}}">{{input.name}}</label>
      <input pInputText class="list-inputs__input" 
        id="{{input.id}}" type="{{input.type}}" [disabled]="input.disabled" value="{{input.value}}"> 
    </div>
  </ng-container>
</div>
