
<div class="containerExport" [formGroup]="fgExport">
    <div class="modalExport ui-g-12 ui-fluid">

        <div class="p-field ui-g-4">
            <label for="listRoom">Sala</label>
            <p-dropdown [options]="this.schedulingService.listRoom" optionLabel="NombreCorto" formControlName="selecRoom" 
                placeholder="Seleccione" showClear="true" inputId="listRoom">
            </p-dropdown>
        </div>
        
        <div class="p-field ui-g-4">
            <label for="listSchedulingMonth">Mes agendamiento</label>
            <p-dropdown [options]="schedulingMonth" optionLabel="Descripcion" formControlName="schedulingMonth" 
                placeholder="Seleccione" showClear="true" inputId="listSchedulingMonth">
            </p-dropdown>
        </div>
       
        <div class="btn_exportar ui-g-4">
            <button pButton type="button" label="Exportar" [disabled]="!fgExport.valid" (click)="getfgExport($event)" class="ui-button-rounded ui-button-success"></button>
        </div>
    </div>
    <div class="pdf-container-print" id="pdf-embeded" style="min-height: 400px">
        <pdf-viewer [src]="'https://d1.awsstatic.com/whitepapers/es_ES/aws-overview.pdf'" [original-size]="false"></pdf-viewer>
    </div>
</div>
