.containerExport{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    min-width: 300px;
}

.modalExport{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
}

.modalExport > div {
    margin: auto;
}

.modalExport label{
    color: #02B4CC;
    margin: 0.5rem 0;
    display: block;
}

::ng-deep .modalContainer__reasonReturn .ui-dropdown{
    width: 80%;
}

.modalExport button{
    float: left;
    color: white;
    text-overflow: clip;
    width: 150px;
}



