@media screen and (min-width: 768px) {
  .update-state {
    padding: 0 2rem 2rem;
  }
}

.update-state .p-field label {
  color: #23abcf;
}
.update-state .update-state__controls button{
  width: 100px;
  float: right;
}