<form class="update-state" [formGroup]="fgUpdateState">   
  <div class="ui-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <label for="state">*Estado</label>
      <p-dropdown inputId="state" [options]="statusOption" optionLabel="Descripcion" formControlName="state"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <div class="p-grid">
        <label class="p-col-5" >Numero de radicado: </label>
        <span class="p-col-7">{{procedure.numeroRadicado}}</span>
        <label class="p-col-5">Fecha de radicado: </label>
        <span class="p-col-7">{{procedure.fechaRadicado | date:'dd/MM/yyyy h:mm a'}} </span>
        <label class="p-col-5">Fecha resuelto: </label>
        <span class="p-col-7">{{procedure.fechaResuelto | date:'dd/MM/yyyy h:mm a'}} </span>
      </div>
    </div>
    <div class="p-field p-col-12">
      <label for="observations">Observaciones</label>
      <textarea id="observations" pInputTextarea [rows]="5" formControlName="observations"></textarea>
    </div>
    <div class="p-col-12 update-state__controls">
        <button pButton (click)="saveResponse()" type="submit" label="Guardar" [disabled]="fgUpdateState.invalid" class="ui-button-primary"></button>
    </div>
  </div>
</form>

