<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Informe evaluacion - Registro sanitario modalidad importar y vender</h1>
        <div class="ui-g">
            <h1>Evaluacion farmaceutica</h1>
            <p-fieldset class="ui-g-12">

                <p-header>Normas farmacologicas y reportes internacionales</p-header>

                <div class="ui-g">
                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <div class="ui-g-12" style="margin-top: -6px;">
                            <label class="tab-title-h5"> Norma farmacologica </label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                spellcheck="off" />
                        </div>
                    </div>
                    <p-fieldset class="ui-g-12">
                        <p-header>Alertas Nacionales/Internacionales</p-header>

                        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                            <div class="ui-g-12" style="margin-top: -6px;">
                                <label class="tab-title-h5"> FDA </label>
                            </div>
                            <div class="ui-g-12">
                                <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                    spellcheck="off" />
                            </div>
                        </div>
                        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                            <div class="ui-g-12" style="margin-top: -6px;">
                                <label class="tab-title-h5"> EMEA </label>
                            </div>
                            <div class="ui-g-12">
                                <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                    spellcheck="off" />
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-12">
                    <br>
                    <p-checkbox name="group1" value="New York"
                        label="¿ Se encuentran reportes en algunas de las fuentes internacionales?" inputId="ny">
                    </p-checkbox>
                </div>

                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Referencia </label>
                    </div>
                    <div class="ui-g-12">
                        <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                            spellcheck="off" />
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset class="ui-g-12">

                <p-header>Concepto de la SMPB</p-header>

                <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Acta de comision mendiante la cual se aprobo </label>
                    </div>
                    <div class="ui-g-12">
                        <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                            spellcheck="off" />
                    </div>

                </div>
                <div class="ui-sm-12 ui-g-2 ui-lg-2 ui-md-12">

                    <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success"
                        style="width: 150px; margin-top: 43px "></button>
                </div>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>
                <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>

            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Indicaciones y contraindicaciones del producto</p-header>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Indicaciones </label>
                    </div>
                    <div class="ui-g-12">
                        <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                            spellcheck="off" />
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Contraindicaciones y advertencias </label>
                    </div>
                    <div class="ui-g-12">
                        <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                            spellcheck="off" />
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Fuente </label>
                    </div>
                    <div class="ui-g-12">
                        <input pInputText type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                            spellcheck="off" />
                    </div>
                </div>

                <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12" style="margin-top: 5px">
                    <label class="tab-title-h5">Condiciones de venta</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <p-checkbox name="group1" value="New York" label="Con formula medica" inputId="ny">
                        </p-checkbox>
                    </div>

                    <div class="ui-sm-12 ui-g-8 ui-lg-8 ui-md-8">
                        <p-checkbox name="group1" value="New York" label="Sin formula medica" inputId="ny">
                        </p-checkbox>
                    </div>


                </div>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>

            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Evaluacion del CVL</p-header>


                <p-table [value]="results" [responsive]="true" [style]="{width: '70%', margin:'auto'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Evaluacion del certrificado de venta libre</th>
                            <th style="width: 16%">Cumplimiento</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr>
                            <td>{{rowData.evaluacion}}</td>
                            <td style="text-align: center">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>

            </p-fieldset>

            <p-fieldset class="ui-g-12">

                <p-header>Evaluacion del certificado cumeplimiento de las BPM</p-header>

                <p-table [value]="tablaFabricantesEnvases" [responsive]="true" [style]="{width: '80%', margin: 'auto'}">
                    <ng-template pTemplate="header">
                        <tr>

                            <th style="width: 20%">Rol</th>
                            <th>Direccion</th>
                            <th style="width: 20%; text-align: center">Acciones</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr>
                            <td>{{rowData.rol}}</td>
                            <td>{{rowData.direccion}}</td>
                            <td style="text-align: center">
                                <button pButton type="button" label="Verificar"
                                    class="ui-button-rounded ui-button-success"
                                    style="width: 100px; margin: 1em "></button>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
                <br>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>

            </p-fieldset>

            <p-fieldset class="ui-g-12">

                <p-header>Forma farmaceutica</p-header>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Descripcion </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize" disabled="true"></textarea>
                    </div>

                </div>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>

            </p-fieldset>

            <p-fieldset class="ui-g-12">

                <p-header>Presentaciones comerciales y muestras medicas</p-header>
                <div>
                    <p-checkbox name="group1" value="New York" label="Color, clase y tipo de envase" inputId="ny">
                    </p-checkbox>
                </div>
                <div style="margin-top: 5px">
                    <p-checkbox name="group1" value="New York"
                        label="Se debe especificar en este item si las presentaciones incluyen dispositivos de dosificacion y/o dispositivos medicos"
                        inputId="ny">
                    </p-checkbox>
                </div>
                <div style="margin-top: 5px">
                    <p-checkbox name="group1" value="New York"
                        label="La muestra medica debe ajustarce a los dosis minima y/o al tratamiento completo (caso antibiotico)"
                        inputId="ny">
                    </p-checkbox>
                </div>
                <br>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Presentaciones comercial y/o de muestra medica </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>

            </p-fieldset>

            <p-fieldset class="ui-g-12">

                <p-header>Composicion del producto</p-header>
                <p-table [value]="tablaComposicion" [responsive]="true" [style]="{width: '70%', margin: 'auto'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Rol</th>
                            <th style="width: 16%">Cumplimiento</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr>
                            <td>{{rowData.item}}</td>

                            <td>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
                <p style="color: #4cae4c; margin-left: 140px">completar</p>
                <br>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;">
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset class="ui-g-12">

                <p-header>Verificacion que la formula estructural y condensada corresponde al principio activo
                </p-header>

                <i>En caso de proteinas complejas o microorganismos, es suficiente con una descripcion detallada del
                    principio activo</i>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;"><br>
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Formula del lote estandarizado de fabricacion</p-header>

                <i>La formula por unidad en general debe corresponder proporcionalmente al del lote industrial
                    proyectado</i>
                <i>En caso que se evidencie el uso de excesos en el proceso productivo, estos debe ser justificados por
                    el fabricante</i>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;"><br>
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Descripcion detallada del proceso de fabricacion</p-header>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;"><br>
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Especificaciones de calidad de las materias primas</p-header>

                <p-table [value]="tablaMateriasPrimas" [responsive]="true" [style]="{width: '70%', margin: 'auto'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Item a evaluar</th>
                            <th style="text-align: center; width: 16%">Cumplimiento</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr>
                            <td>{{rowData.itemEvaluar}}</td>

                            <td style="text-align: center;">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>

                <br>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;"><br>
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Especificacion de calidad del producto en proceso</p-header>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;"><br>
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Especificacion de calidad del producto en proceso</p-header>

                <p>Indicar en el concepto técnico la famacopea y edición de la cuál se toman las epecificaciones o en
                    caso dado si son propias o si son tomadas de varias fuentes (propias + farmacopeas)</p>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12" style="margin-top: -6px;"><br>
                        <label class="tab-title-h5"> Concepto tecnico </label>
                    </div>
                    <div class="ui-g-12">
                        <textarea rows="2" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>

                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" style="margin-top: 5px">
                    <label class="tab-title-h5">Desicion</label>
                </div>


                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-12">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <p-radioButton name="group1" value="New York" label="Requerimiento">
                        </p-radioButton>
                    </div>

                    <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                        <p-radioButton name="group1" value="New York" label="Aprueba">
                        </p-radioButton>
                    </div>
                </div>
            </p-fieldset>


        </div>
    </div>
</div>