<div class="ui-g">

    <p-table [value]="procedures" selectionMode="single" [paginator]="true" [responsive]="true" [rows]="10"
        [style]="{'text-align':'center', 'word-wrap': 'break-word'}" [customSort]="true">
        <ng-template pTemplate="header">
            <tr style="background: #5b6976">
                <th style="text-align: center">N° radicado</th>
                <th style="text-align: center">Fecha radicado</th>
                <th style="text-align: center">Tipo de trámite</th>
                <th style="text-align: center">Tipo de producto</th>
                <th style="text-align: center">Grupo</th>
                <th style="text-align: center; width: 12%">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.number}}</td>
                <td>{{item.filingDate}}</td>
                <td>{{item.type}}</td>
                <td>{{item.productType}}</td>
                <td>{{item.group}}</td>
                <td>
                    <span (click)="goToAssignedWork()" class="material-icons cursor-dynamic" tooltipPosition="top"
                        pTooltip="asignar tramites">person</span>
                    <span class="material-icons cursor-dynamic">reply</span>
                    <span class="material-icons cursor-dynamic">visibility</span>

                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog (onHide)="cancelOperation()" [(visible)]="toAssign" [modal]="true" [responsive]="true" [closable]="true"
    [style]="{width: '1060px'}" [draggable]="false">
    <p-header>Asignación</p-header>

    <app-assignment></app-assignment>

    <p-footer>
        <div class="ui-g-12">
            <button pButton type="button" label="Guardar" class="ui-button-rounded ui-button-success"></button>
            <button pButton type="button" label="Cancelar" class="ui-button-rounded ui-button-danger"
                (click)="cancelOperation()"></button>
        </div>
    </p-footer>
</p-dialog>