<p-panel>
    <p-header>Filtro de busqueda</p-header>
    <div class="ui-g">
        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">N° de expediente</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="fileNumber" pInputText type="number" min="0" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off">
            </div>
        </div>
        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">N° de intencion</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="intentionNumber" pInputText type="number" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off"/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">N° de radicado</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="filingNumber" pInputText type="number" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off"/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">N° de registro sanitario</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="healthRegister" pInputText type="number" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off"/>
            </div>
        </div>
        <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Nombre del producto</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="productName" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off"/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">Tipo de documento</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="documentTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                            [style]="{minWidth:'100%'}" [(ngModel)]="documentTypeSelect" [filter]="true"
                            showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">Numero de documento</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="documentNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off"/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">Tipo de tramite</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="procedureTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                            [style]="{minWidth:'100%'}" [(ngModel)]="procedureTypeSelect" [filter]="true"
                            showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">Tipo de producto</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="productTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                            [style]="{minWidth:'100%'}" [(ngModel)]="productTypeSelect" [filter]="true"
                            showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">Estado</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="stateTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                            [style]="{minWidth:'100%'}" [(ngModel)]="stateTypeSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-12">
                <label class="tab-title-h5">Numero de resolucion</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="resolutionNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off"/>
            </div>
        </div>

    </div>
</p-panel>

<br><div style="text-align: right">
    <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success"
            style="width: 150px"></button>
</div><br>

<p-panel>
    <p-header>Resultado de la busqueda</p-header>
    <div class="ui-g">

        <p-table [value]="tableData" [responsive]="true">
            <ng-template pTemplate="header">
                <tr style="background: #5b6976">
                    <th>Numero de expediente</th>
                    <th>Numero de intencion</th>
                    <th>Numero de radicado</th>
                    <th>Fecha</th>
                    <th>Tipo tramite</th>
                    <th>Tipo Producto</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.numExpediente}}</td>
                    <td>{{data.numIntencion}}</td>
                    <td>{{data.numRadicado}}</td>
                    <td>{{data.fecha}}</td>
                    <td>{{data.tipoTramite}}</td>
                    <td>{{data.tipoProducto}}</td>
                    <td>{{data.estado}}</td>
                    <td>
                        <p-dropdown [options]="actionsTypeLs" [showClear]="true" placeholder="Acciones" optionLabel="name"
                                    [style]="{minWidth:'100%'}" [(ngModel)]="actionsTypeSelect" [filter]="true" showClear="true">
                        </p-dropdown>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-panel>

