.controls{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: white;
    height: 100%;
    max-width: 450px;
    min-width: 330px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.0),
             0 0  0 0px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.2);
}
  

.controls__list{
    min-width: none;
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    
}

.controls__list-item a{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;

   color: #23abcf;;
}

.material-icons{
    color: white;
    border-radius: 50%;
    background-color: #23abcf;;
    margin: 10px;
}