<fieldset class="controls">

    <legend>Acciones</legend>

    <ul class="controls__list">

        <li *ngFor="let item of listControls" class="controls__list-item">

            <a href="{{item.url}}" (click)="item.action($event, item.name)">

                <span class="material-icons">
                    {{item.nameicon}}
                </span>

                <span>{{item.name}}</span>

            </a>
    </ul>

</fieldset>