<form [formGroup]="form">
    <p-fieldset legend="Conceptos del documento">
        <div class="ui-g">
            <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                <div class=" ui-sm-12 ui-g-3 ui-lg-3 ui-md-3">
                    <button pButton type="button" label="Generar concepto"
                            class="ui-button-success" (click)="openMod()">
                    </button>
                </div>
                
                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-9" style="text-align: end">
                    <a href="">Guia para evaluacion técnico/legal</a>
                </div>
            </div>
        </div>
        <p-table [value]="concepts" [responsive]="true">
            <ng-template pTemplate="header">
                <tr style="background: #5b6976">
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th style="width: 40%">Concepto</th>
                    <th>Decisión</th>
                    <th style="width: 10%">Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.data}}</td>
                    <td>{{car.user}}</td>
                    <td>{{car.rol}}</td>
                    <td>{{car.concepto}}</td>
                    <td>{{car.decision}}</td>
                    <td>
                     <span class="material-icons cursor-dynamic">visibility</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
    <br>
    <p-fieldset legend="adjuntar documento">
        <div class="ui-g">
            <div class="ui-sm-12 ui-g-12 ui-md-12 ui-lg-12 ">
                <div class=" ui-sm-12 ui-g-3 ui-lg-3 ui-md-3">
                    <p-fileUpload #versionUploader
                                  mode="basic"
                                  auto="true"
                                  accept="application/pdf,application/docx"
                                  chooseLabel="Adjuntar"
                                  customUpload="true"
                                  (uploadHandler)="attachDocument($event)"
                                  [style]="{width: '200px'}"
                    ></p-fileUpload>
                </div>
                <div class="ui-sm-12 ui-g-9 ui-lg-9 ui-md-9" style="text-align: end">
                </div>
            </div>
        </div>
        <p-table [value]="uploadedFiles" [responsive]="true" [style]="{width: '70%'}">
            <ng-template pTemplate="header">
                <tr style="background: #5b6976">
                    <th>Nombre documento</th>
                    <th style="width: 10%">Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-doc>
                <tr>
                    <td>{{doc.nombre}}</td>
                    <td>
                        <div>
                            <span class="material-icons" (click)="deleteFile($event)">delete_forever</span>
                        </div>

                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-fieldset>

</form>

<p-dialog header="Generar concepto" [(visible)]="generateConcept" [style]="{width: '80vw'}" [baseZIndex]="10000">
    <div class="ui-g">
        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g form-group">
                <span class="ui-float-label">
                    <b><label>Concepto</label></b>
                  <textarea pInputTextarea type="text" [rows]="3" [cols]="100">
                  </textarea>
                </span>
            </div>
        </div>
        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g form-group">
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <span class="ui-float-label">
                    <b><label>Conclusiones</label></b>
                </span>
                </div>
                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1">Concepto de otra dependencia</label>
                </div>
                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                    <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
                        <label for="vehicle1">¿Cuál?</label>
                    </div>
                    <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                        <p-dropdown [options]="which" placeholder="Select.." optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <input type="checkbox" id="visita" name="visita" value="visita">
                    <label for="visita">Visita para verificar en planta</label>
                </div>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <input type="checkbox" id="toma" name="toma" value="toma">
                    <label for="vehicle1">Toma de muesta para el análisis de INVIMA</label>
                </div>
                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                    <input type="checkbox" id="aprobacion" name="aprobacion" value="aprobacion">
                    <label for="vehicle1">Aprobación</label>
                </div>
                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                    <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
                        <label for="vehicle1">Detalle</label>
                    </div>
                    <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                        <p-chips></p-chips>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                    <input type="checkbox" id="requerimiento" name="requerimiento" value="requerimiento">
                    <label for="vehicle1">Requerimiento</label>
                </div>
                <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                    <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
                        <label for="vehicle1">Detalle</label>
                    </div>
                    <div class="ui-sm-10 ui-g-10 ui-lg-10 ui-md-10">
                        <p-chips></p-chips>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" label="Guardar" class="ui-button-rounded ui-button-success" (click)="save()"></button>
        <button pButton type="button" label="cancelar" class="ui-button-rounded ui-button-danger" (click)="generateConcept=false"></button>
    </p-footer>
</p-dialog>
