<div class="ui-fluid">
    <!-- [formGroup] = "fgInforGeneral" -->
    <div class="ui-g">
        <div class="ui-sm-12 ui-md-12 ui-lg-12" style="margin-top: 3%">
            <label>* Tipo de consulta</label>
        </div>
        <div class="ui-sm-12 ui-md-10 ui-lg-6" style="margin: 15px;">
            <form [formGroup]="form">
                <div class="form-group">
                    <p-dropdown [options]="lista" required></p-dropdown>
                    <!-- [formControlName]="label" -->
                </div>
            </form>

            <div style="margin-top: 5%; margin-bottom: 2%;">
                {{seleccionado}}
            </div>
        </div>
    </div>
</div>