<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">

            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo></app-procedureInfo>
            </p-panel>
            <br>
            <p-panel class="ui-g-12">
                <p-header>Adjuntar Documento</p-header>
                <p-table [columns]="head" [value]="results" selectionMode="single">
                    <ng-template pTemplate="header" let-columns>
                        <tr>

                            <th style="width: 3em"></th>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                            </td>
                            <td>{{rowData.nombreDocumento}}</td>
                            <td>{{rowData.folios}}</td>
                            <td>{{rowData.fechaCreacion}}</td>
                            <td align="center">


                                <p-fileUpload
                                    icon="ui-icon-trash"
                                    #versionUploader
                                    mode="basic"
                                    auto="true"
                                    chooseLabel="Adjuntar"
                                    accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                    customUpload="true"
                                    (uploadHandler)="attachDocument($event,versionUploader, index)"
                                    (onError)="onErrorUpload($event)">
                                </p-fileUpload>


                                <button pButton type="button" icon="ui-icon-eye" style="margin: 10px"
                                        class="ui-button-secondary"
                                >

                                </button>

                                <button pButton type="button" icon="ui-icon-trash" style="margin: 10px"
                                        class="ui-button-secondary">

                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-panel>

        </div>
    </div>
    <br>
    <div class="ui-g">
        <div class="ui-g-8" style="text-align: right">
            <button pButton type="button" label="Contar folios" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
        <div class="ui-g-2" style="text-align: right">
            <button pButton type="button" label="Guardar" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
        <div class="ui-g-2" style="text-align: right">
            <button pButton type="button" label="Continuar" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
    </div>
</div>
