<div class="ui-g">
    <div class="ui-sm-12 ui-md-12 ui-lg-12">
        <div class="preco">
            <p>
                La unica seccion que queda en evaluacion de esta pantallaes preconcepto dado que se requiere mayor detalle para validar como debe quedar este requerimiento, teniendo en cuenta la necesidad manifestada por los usuarios GASECR frente a la inclusion de tablas
                e imagenes. Se plantea inicialmentecargar documento en formato Word con el preconcepto elaborado.
            </p>
        </div>
    </div>    
</div>