<form class="ui-g" [formGroup]="formAddress" (ngSubmit)=" onSubmit(formInfoLegalAttorney)">
    <div class="ui-g-4">
        <p>Tipo vía</p>
        <p-dropdown formControlName="roadType" [options]="roadTypesList"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>Número de via principal</p>
        <input type="text" pInputText formControlName="numberRoadPrincipal">
    </div>
    <div class="ui-g-4">
        <p>Prefijo cuadrante</p>
        <p-dropdown formControlName="quadrantPrefix" [options]="quadrantPrefixesList"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>Bis</p>
        <p-dropdown formControlName="bis" [options]="bis"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>Orientación</p>
        <p-dropdown formControlName="orientation" [options]="orientationsList"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>Número via</p>
        <input type="text" pInputText formControlName="numberRoad">
    </div>
    <div class="ui-g-4">
        <p>Prefijo cuadrante</p>
        <p-dropdown formControlName="quadrantPrefix2" [options]="quadrantPrefixesList"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>Número de placa</p>
        <input type="text" pInputText formControlName="plateNumber">
    </div>
    <div class="ui-g-4">
        <p>Orientación</p>
        <p-dropdown formControlName="orientation2" [options]="orientationsList"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>Tipo de complemento</p>
        <p-dropdown formControlName="pluginType" [options]="pluginTypesList"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>Complemento adicional</p>
        <input type="text" pInputText formControlName="additionalPlugin">
    </div>
    <div class="ui-g-4">
        <p>Dirección</p>
        <input type="text" pInputText formControlName="address">
    </div>


    <div class="ui-g-12">
        <div style="text-align: right">
            <button pButton type="submit" [label]="isEditing? 'Actualizar': 'Guardar'" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
    </div>
</form>
