<p-table [value]="infoRole" dataKey="documentNumber">
    <ng-template pTemplate="header">
        <tr>
            <th>Tipo rol</th>
            <th>Tipo documento</th>
            <th>N° de documento</th>
            <th>Nombre o razon social</th>
            <th>Certificado</th>
            <th>Contrato</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.roleType">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.roleType}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.documentType">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.documentType}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                {{rowData.documentNumber}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.reasonName">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.reasonName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.certificate">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.certificate}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.contract">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.contract}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" icon="ui-icon-plus"
                        class="ui-button-info" (click)="moreDetailTable(headers3, infoRole)"></button>
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="ui-icon-edit"
                        class="ui-button-info" (click)="onRowEditInitTable3(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em"
                        (click)="onRowEditSaveTable3(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancelTable3(rowData, ri)"></button>
                <button *ngIf="!editing" pButton type="button" icon="ui-icon-trash"
                        class="ui-button-info" (click)="onRowDeleteTable3(ri)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<p-toast position="top-right"></p-toast>
<div style="text-align: right">
    <button pButton type="button" (click)="showDialogRole()" label="Agregar" class="ui-button-rounded ui-button-success"
            style="width: 150px"></button>
</div>
<p-dialog (onHide)="onHideRole()" header="Informacion de roles" [(visible)]="displayRole"  [style]="{width: '70vw'}">
    <app-popup-role (getData)="catchDataFormInfoLegalRole($event)"
                                [infoLegal]="getItemInfoLegalRole"
                                [isEditing]="isEditing"></app-popup-role>
</p-dialog>
<p-dialog (onHide)="onHideDataMore()" header="Mas Información" [(visible)]="isActivateMoreData" [style]="{width: '70vw'}">
    <app-show-more [data]="list" [headers]="headers"></app-show-more>
</p-dialog>
