<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">


            <!--<app-ti-simpleCopy></app-ti-simpleCopy>-->
            <div class="ui-g-12 ui-lg-12">
                <p-tabView (onChange)="handleChange($event)">

                    <p-tabPanel header="Informacion tecnica medicamentos">
                        <ti-medicines></ti-medicines>
                    </p-tabPanel>

                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 1">
                        <p-panel class="ui-g-12">
                            <p-header>Información del trámite</p-header>
                            <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
                        </p-panel>
                        <p-panel class="ui-g-12">
                            <p-header>Información del producto</p-header>
                            <app-ti-pharmacological-evaluation></app-ti-pharmacological-evaluation>
                        </p-panel>
                    </p-tabPanel>

                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 2">
                        <app-ti-pharmacological-evaluation-two></app-ti-pharmacological-evaluation-two>
                    </p-tabPanel>

                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 3">
                        <app-ti-pharmacological-evaluation-tree></app-ti-pharmacological-evaluation-tree>
                    </p-tabPanel>

                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 4">
                        <p-panel class="ui-g-12">
                            <p-header>Información del trámite</p-header>
                            <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
                        </p-panel>
                        <div class="ui-g-12">
                            <app-ti-pharmacological-evaluation-four></app-ti-pharmacological-evaluation-four>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 5">
                        <app-ti-pharmacological-evaluation-five #pharmacologicalFive (formFarmacologiaFive)="formFive($event)"></app-ti-pharmacological-evaluation-five>
                    </p-tabPanel>
                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 6">
                        <app-ti-pharmacological-evaluation-six></app-ti-pharmacological-evaluation-six>
                    </p-tabPanel>
                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 7">
                        <app-ti-pharmacological-evaluation-seven></app-ti-pharmacological-evaluation-seven>
                    </p-tabPanel>
                    <p-tabPanel header="Informacion tecnica-Evaluacion farmacologica 8">
                        <app-ti-pharmacological-evaluation-eight></app-ti-pharmacological-evaluation-eight>
                    </p-tabPanel>
                    <p-tabPanel header="Verificacion documental OAC">
                        <p-panel class="ui-g-12">
                            <p-header>Información del trámite</p-header>
                            <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
                        </p-panel>
                      <!-- <app-verificacion-documental-oac></app-verificacion-documental-oac> -->
                    </p-tabPanel>
                </p-tabView>
            </div>


            <div class="ui-g-12" style="display: flex; justify-content: flex-end;">
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button" label="Titular"
                        (click)="openHeadLineVerification()"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button" label="Repreentante"
                        (click)="openAttorneyVerification()"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button-secondary" label="Guardar" (click)="save()"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button-success" icon="pi pi-chevron-right" iconPos="right"
                        label="Continuar"></button>
                </div>
            </div>
        </div>
    </div>
</div>
