<div class="content">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12" *ngIf="!showTable">
                <p-tabView [activeIndex]="tabIndex" (onChange)="activeIndex = $event.index">
                    <p-tabView>
                        <p-tabPanel leftIcon="pi pi-calendar">
                            <ng-template pTemplate="header" leftIcon="pi pi-calendar">Tramites asignados</ng-template>
                            <div class="ui-g-12">
                                <app-assigned-procedures #data [procedures]="procedures"
                                    (sendViewTaskAssigned)="sandviewTaskAssingned($event)"></app-assigned-procedures>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Trámites por asignar" leftIcon="pi pi-calendar">
                            <div class="ui-g-12">
                                <app-assigned-procedures #data [procedures]="procedures"></app-assigned-procedures>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Documentos por gestionar" leftIcon="pi pi-calendar">
                            <div class="ui-g-12">
                                <app-assigned-procedures #data [procedures]="procedures"></app-assigned-procedures>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </p-tabView>
            </div>
            <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <div class="ui-g-12" *ngIf="showTable">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>