<div class="scheduledDateInformation ui-g-12">


        <div class="containerStatusInfo ui-g-6">

            <span>*Estado sala</span>
            
            <p-dropdown [options]="returnOption" optionLabel="name"></p-dropdown>
            
            <span>*Numero de acta</span>
            
            <input [disabled] = "true" type="text" pInputText placeholder="22-2021">

        </div>
        <div class="containerStatusInfo ui-g-6">

            <span>*Sala</span>
            
            <input [disabled] = "true" type="text" pInputText placeholder="XXXXXX">
            
            <span>*Estado de medicamentos vitales no disponible</span>
           
            <p-dropdown></p-dropdown>

        </div>

        <div class="ui-g-12">
            <span>*Observaciones</span>
            <br>
            <textarea class="ui-g-12" pInputTextarea #titleInput></textarea>
        </div>

        <div class="ui-g-12">
            <button pButton type="button" label="guardar" class="ui-button-rounded ui-button-success"></button>
        </div>

</div>