.scheduledDateInformation{
   max-width: 900px;
   color: #23abcf ;
}

.scheduledDateInformation button{
    float: right;
 }


.containerStatusInfo{
    display: flex;
    flex-direction: column;
    padding-top: 0%;
}

.containerStatusInfo span{
    margin: 20px 0px;
}


.containerStatusInfo input{
    width: 80%;
    text-align: center;
}

::ng-deep .containerStatusInfo .ui-dropdown{
    width: 80%;
    color: #000;
}
