<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Consulta Registro Sanitario</h1>
        <div class="ui-g">
            <p-fieldset class="ui-g-12">
                <p-header>Filtros de busqueda</p-header>

                <div class="ui-g">

                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <div class="ui-g-12" style="margin-top: -6px;">
                            <label class="tab-title-h5"> Grupo </label>
                        </div>
                        <div class="ui-g-12">
                            <p-dropdown [options]="options"  [showClear]="true"
                                        placeholder="Seleccione" optionLabel="name"
                                        [filter]="true" showClear="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <div class="ui-g-12" style="margin-top: -6px;">
                            <label class="tab-title-h5">Sub grupo</label>
                        </div>
                        <div class="ui-g-12">
                            <p-dropdown [options]="options2"  [showClear]="true"
                                        placeholder="Seleccione" optionLabel="name"
                                        [filter]="true" showClear="true">
                            </p-dropdown>

                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <div class="ui-g-12" style="margin-top: -6px;">
                            <label class="tab-title-h5">Registro sanitario</label>
                        </div>
                        <div class="ui-g-12">
                            <input  pInputText type="text" autocomplete="off" autocorrect="off"
                                   autocapitalize="off" spellcheck="off"  />
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Nombre del producto</label>
                        </div>
                        <div class="ui-g-12">
                            <input  pInputText type="text" autocomplete="off" autocorrect="off"
                                   autocapitalize="off" spellcheck="off"  />
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Fecha inicial</label>
                        </div>
                        <div class="ui-g-12">
                            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="requestDate"
                                        [locale]="es"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050">

                            </p-calendar>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Fecha final</label>
                        </div>
                        <div class="ui-g-12">
                            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true"
                                        [locale]="es"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050">
                            </p-calendar>
                        </div>
                    </div>




                </div>
                <div class="ui-g-12">
                    <div style="text-align: right">
                        <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success"
                                style="width: 150px"></button>
                    </div>
                </div>

            </p-fieldset>

            <br>

            <p-fieldset class="ui-g-12">
                <p-header>Resultados de la busqueda</p-header>
                <p-table [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>

                            <th>Grupo</th>
                            <th>Subgrupo</th>
                            <th>Registro sanitario</th>
                            <th>Nombre del producto</th>
                            <th>Fecha radicado</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-fieldset>


            <p-fieldset class="ui-g-12">
                <p-header>20201005009</p-header>
                <p-table>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre Documento</th>
                            <th>Usuario</th>
                            <th>Fecha creacion</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </ng-template>
                </p-table>
            </p-fieldset>
        </div>
    </div>
</div>
