<div class="ui-g">
    <p-table class="ui-g-12" [value]="resultsTableRadicated" [(selection)]="selectedRadicated" dataKey="vin">
        <ng-template pTemplate="header">
            <tr style="height: 70px">
                <th>Seleccionar</th>
                <th>N° de radicado</th>
                <th>Fecha de radicación</th>
                <th>Tipo producto</th>
                <th>Grupo</th>
                <th>Tipo trámite</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-itemReferences let-indexReferences="rowIndex">
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>
