<a href="#/RegistroSanitario/clarifications?type=anx17">anx17</a>
<a href="#/RegistroSanitario/clarifications?type=anx18">anx18</a>
<a href="#/RegistroSanitario/clarifications?type=anx19">anx19</a>

<div class="clarifications">

  <div class="p-grid p-align-center clarifications-header">
    <div class="p-col-12 p-md-6">
      <h1>Aclaraciones</h1>
    </div>
    
    <div class="p-col-12 p-md-6" *ngIf="type == query.OPTION2 || type == query.OPTION1">
      <label> Número de radicado:</label> <span>202154065654</span><br>
      <label> Fecha de radicado:</label> <span>18/04/2021 4:25 pm</span>
    </div>
    <div *ngIf="type == query.OPTION3" class="p-col-12 p-md-6">
      <label > Fecha envio a salas solicitud :</label> <span>18/04/2021 4:25 pm</span><br>
    </div>
  </div>
  <div  *ngIf="type == query.OPTION1">  
    <h3 class="subtitle">Información General</h3>
    <app-information-general></app-information-general>
  </div>

  <div  *ngIf="type == query.OPTION3">  
    <h3 class="subtitle">Información General</h3>
    <app-list-inputs [listInputs]="listInputs"></app-list-inputs>
  </div>

  <div  *ngIf="type == query.OPTION1 ||type == query.OPTION3 ">  
    <h3 class="subtitle">Búsqueda del radicado relacionado</h3>
    <app-filing-data></app-filing-data>
  </div>
  <div class="Busquedad Radicado Seleccionado" *ngIf="type == query.OPTION2">  
    <h3 class="subtitle">Busquedad Radicado Seleccionado</h3>
    <app-list-inputs [listInputs]="listInputs"></app-list-inputs> 
  </div>
 
 
  <div class="request-retail" *ngIf="type == query.OPTION2">
    <h3 class="subtitle">Detalle Solicitud</h3>
    <app-request-retail></app-request-retail>
    <br>
    <label> Consultas y antecedentes</label>
    <br>
    <textarea class="ui-sm-12 ui-md-12 ui-lg-11" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
      maxlength="4000" required
      placeholder="Ej: Se indica que la dosis es muy alta sin embargo se requiere un concepto de la sala para indicar si existen estudios que validen la efectividad o contraindicaciones para pacientes de rango de edad de 20 años."></textarea>
    <app-attach-documents></app-attach-documents>
    <div class="ui-sm-12 ui-md-12 ui-lg-11">
      <div class="p-col p-col-align-end" style="text-align: right;">
        <p-button label="Radicar"></p-button>
      </div>
    </div>
  </div>
  <div  *ngIf="type == query.OPTION1 || type == query.OPTION3">  
    <h3 class="subtitle">Detalle solicitud</h3>
    <app-request-retail></app-request-retail>
    <app-details-request></app-details-request>
    <app-attach-documents></app-attach-documents> 
  </div>
  <app-select-room *ngIf="type == query.OPTION3">
  </app-select-room>
  <div class="controls p-grid p-justify-end p-nogutter">
    <div class="p-col-3 p-md-1">
      <button pButton type="button" label="Enviar" *ngIf="type==this.query.OPTION1 ||type == query.OPTION3" 
        class="ui-button-rounded ui-button-primary" ></button>
    </div>
  </div>

</div>
