.clarifications {
  background-color: white;
  padding-bottom: 1rem;
}

.clarifications span {
  color: #0d0d0e;
  font-weight: bold;
  margin-left: 1rem;
}
.clarifications label {
  color: #0FC1D3; 
  font-weight: bold;
}
.clarifications h1 {
  color: #0FC1D3;
  margin-left: 1rem;
}

.clarifications .subtitle {
  color: #0FC1D3;
  background-color: #e1faff;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}
