<p-table [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let header of headers">
                {{header.name}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pEditableRow]="rowData">
            <td *ngFor="let header of headers">
                {{rowData[header.key]}}
            </td>
        </tr>
    </ng-template>
</p-table>
