<div  class="ui-g">
<p-fieldset legend="Filtros de Busqueda" >
    <div taskBody class="ui-g ui-fluid divSecundary">
        <div class="ui-g-12">
        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12" >
                <label class="tab-title-h5">Grupo</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="groupLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name"
                            [(ngModel)]="groupSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Sub grupo</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="subGroupLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name"
                            [(ngModel)]="subGroupSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Tipo trámite</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="procedureTypeLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name"
                            [(ngModel)]="proceduretypeSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Rol</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="rolLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name"
                            [(ngModel)]="rolSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Funcionario</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="official" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off" />
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Fecha inicial</label>
            </div>
            <div class="ui-g-12">
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="initialDate" [locale]="es"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" >
                </p-calendar>
            </div>
        </div>


        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Fecha final</label>
            </div>
            <div class="ui-g-12">
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="finalDate" [locale]="es"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" >
                </p-calendar>
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12" style="margin-top: 20px">
                <button pButton type="button" label="Buscar"
                        class="ui-button-rounded ui-button-success"
                        style="width: 180px" >
                </button>
            </div>
        </div>

        </div>
    </div>
</p-fieldset>

<p-fieldset legend="Resultados de la búsqueda">

    <div class="ui-g">

        <p-table [value]="results" [responsive]="true">
            <ng-template pTemplate="header">
                <tr style="background: #5b6976">
                    <th>Seleccionar</th>
                    <th>Grupo</th>
                    <th>SubGrupo</th>
                    <th>N° Radicado</th>
                    <th>Fecha Asiganción</th>
                    <th>Tipo Trámite</th>
                    <th>Rol</th>
                    <th>Funcionario</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car >
                <tr>
                    <td >{{car.selection}}
                        <p-checkbox>

                        </p-checkbox>
                    </td>
                    <td>{{car.group}}</td>
                    <td>{{car.subgroup}}</td>
                    <td>{{car.settle}}</td>
                    <td>{{car.asignDate}}</td>
                    <td>{{car.procedureType}}</td>
                    <td>{{car.rol}}</td>
                    <td>{{car.official}}</td>
                </tr>
            </ng-template>
        </p-table>

        <div class="ui-sm-8 ui-g-8 ui-lg-8 ui-md-8">
            <div class="ui-g-12">
                <label class="tab-title-h5" style="margin-top: 20px">Reasignar a</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="reassignTo" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off" />
            </div>

        </div>
    </div>

</p-fieldset>


</div>
