<h1>cheditor</h1>
<!--<ckeditor [editor]="Editor" [data]="dataEditor" [style]="{'height':'320px'}"></ckeditor>-->
<p>Value: {{dataEditor||'empty'}}</p>

<h3 class="first">primeNG</h3>
<p-editor [(ngModel)]="text1" [style]="{'height':'320px'}"></p-editor>
<p>Value: {{text1||'empty'}}</p>

<button pButton type="button" label="Clear" icon="pi pi-times" (click)="text1=null"></button>

<hr style="border-top:0px;border-color:#dde3e6">

<h3>primeNG sencillo</h3>
<p-editor [(ngModel)]="text2" [style]="{'height':'320px'}">
    <p-header>
        <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
        </span>
    </p-header>
</p-editor>
<p>Value: {{text2||'empty'}}</p>

<button pButton type="button" label="Clear" icon="pi pi-times" (click)="text2=null"></button>


