<a href="#/RegistroSanitario/unification?type=anx14">anx14</a>
<a href="#/RegistroSanitario/unification?type=anx15">anx15</a>
<a href="#/RegistroSanitario/unification?type=anx16">anx16</a>

<div class="unification">
  <div class="p-grid p-align-center">
      <div class="p-col-12 p-md-6"><h1>Unificaciones</h1></div>
      <div class="p-col-12 p-md-6" *ngIf="type == query.OPTION2 || type==query.OPTION3" >
        <label > Número de radicado:</label> <span>202154065654</span><br>
        <label > Fecha de radicado:</label> <span>18/04/2021 4:25 pm</span>
      </div>
      <div class="p-col-12 p-md-6" *ngIf="type == query.OPTION1">
        <label > Fecha envio a salas solicitud :</label> <span>18/04/2021 4:25 pm</span><br>
      </div>
  </div>

  <div class="general-information" *ngIf="type == query.OPTION1 || type == query.OPTION2">  
    <h3 class="subtitle">Información General</h3>
    <app-list-inputs [listInputs]="listInputs"></app-list-inputs> 
  </div>
  <div class="related-data" *ngIf="type==query.OPTION3">  
    <h3 class="subtitle">Datos del radicado relacionado</h3>
    <app-filing-data></app-filing-data> 
  </div>

   <div class="request-detail" *ngIf="type==query.OPTION1 || type==query.OPTION3">  
    <h3 class="subtitle">Detalle solicitud</h3>
    <app-details-request></app-details-request>
    <app-attach-documents></app-attach-documents>
  </div>
  <div class="request-detail" *ngIf="type==query.OPTION2 ">  
    <h3 class="subtitle">Detalle solicitud</h3>
    <div class="p-field ui-fluid request-detail__textarea">
      <label for="request">* Solicitud y antecedentes</label>
      <textarea id="request" [rows]="5" pInputTextarea autoResize="autoResize" maxlength="4000" required placeholder="Ej: Se indica que la dosis es muy alta sin embargo se requiere un concepto de la sala para indicar si existen estudios que validen la efectividad o contraindicaciones para pacientes de rango de edad de 20 años."></textarea>
    </div>
    <app-attach-documents></app-attach-documents> 
  </div>
  <div class="selection-room" *ngIf="type==query.OPTION1">  
    <h3 class="subtitle">Seleccionar sala</h3>
    <app-select-room></app-select-room>
  </div>
  <div class="prejudices" *ngIf="type==query.OPTION1">  
    <h3 class="subtitle">Preconceptos</h3>
    <app-prejudice></app-prejudice>
  </div>
  <div class="controls p-grid p-justify-end p-nogutter">
    <div class="p-col-3 p-md-1">
      <button pButton type="button" label="Enviar" *ngIf="type==query.OPTION1" 
        class="ui-button-rounded ui-button-primary" ></button>
      <button pButton type="button" label="Radicar" *ngIf="type==query.OPTION2" 
          class="ui-button-rounded ui-button-primary" ></button>
      <button pButton type="button" label="Enviar" *ngIf="type==query.OPTION3" 
          class="ui-button-rounded ui-button-primary" ></button>
    </div>
  </div>
</div>
