<div taskBody class="ui-g ui-fluid divSecundary">
    <p-fieldset legend="Información General del Trámite">
        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Fecha radicado</label>
            </div>
            <div class="ui-g-12">
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="radicateDate" [locale]="es"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
                </p-calendar>
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Categoria trámite</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="categoryProcedureLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name" [disabled]="true"
                            [(ngModel)]="categoryProcedureSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Tipo Trámite</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="procedureTypeLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name" [disabled]="true"
                            [(ngModel)]="procedureTypeSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Modalidad</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="modalityLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name" [disabled]="true"
                            [(ngModel)]="modalitySelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Tipo Producto</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="productType" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off" disabled="true"/>
            </div>
        </div>

        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Grupo</label>
            </div>
            <div class="ui-g-12">
                <input [(ngModel)]="group" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off" disabled="true"/>
            </div>
        </div>


        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Subgrupo</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="subGroupLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name" [disabled]="true"
                            [(ngModel)]="subGroupSelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>


        <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-6">
            <div class="ui-g-12">
                <label class="tab-title-h5">Categoria del Producto</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="productCategoryLs" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name" [disabled]="true"
                            [(ngModel)]="productCategorySelect" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>

    </p-fieldset>
    <div class="ui-g-12">
        <div class="ui-g-8">
            <p-fieldset legend="Documentos Asociados">

                <p-table [value]="documentsAssociated" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr style="background: #5b6976">
                            <th style="width: 60%">Nombre documento</th>
                            <th>Fecha de creación</th>
                            <th>Folios</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-car>
                        <tr>
                            <td>{{car.documentName}}</td>
                            <td>{{car.creationDate}}</td>
                            <td>{{car.invoice}}</td>
                        </tr>
                    </ng-template>

                </p-table>

            </p-fieldset>
        </div>
        <div class="ui-g-4" style="margin-top: 20px">

            <p-table [value]="evaluation" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr style="background: #5b6976">
                        <th style="width: 60%">Item a evaluar</th>
                        <th>Cumplimiento</th>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-car>
                    <tr>
                        <td>{{car.itemToEvaluate}}
                        </td>
                        <td style="text-align: center">{{car.compliance}}
                            <p-checkbox>

                            </p-checkbox>
                        </td>
                    </tr>
                </ng-template>

            </p-table>

        </div>
    </div>

</div>
