<h1>Notificación electrónica</h1>
<br>
<h4>"Respetado Usuario:</h4>
<div style="text-align:justify-all">
    <p>La Notificación es el medio a través del cual se ponen en conocimiento del interesado los actos de carácter
        particular. Tiene como finalidad garantizar el conocimiento de las actuaciones administrativas y de
        su desarrollo de tal forma que se garanticen los principios de publicidad y contradicción.
    </p>
    <br>
    <p>La ley 1437 de 2011 “Por la cual se expide el Código de Procedimiento Administrativo y de lo Contencioso
        Administrativo”, en su artículo 56 señala que las autoridades podrán notificar sus actos a través de medios
        electrónicos, siempre que el administrado haya aceptado este medio de notificación, agregando, que la
        notificación quedará surtida a partir de la fecha y hora en que el administrado acceda al acto administrativo,
        fecha y hora que deberá certificar la administración.
    </p>
    <br>
    <p> Por otra parte, a través del Decreto 2693 de 2012 ""Por el cual se establecen los lineamientos generales de la
        estrategia de Gobierno en línea de la República de Colombia, se reglamentan parcialmente las Leyes 1341 de 2009
        y 1450 de 2011, y se dictan otras disposiciones"" se busca el máximo aprovechamiento de las Tecnologías de la
        Información y las Comunicaciones, con el fin de contribuir con la construcción de un Estado más eficiente, más
        transparente y participativo y que preste mejores servicios con la colaboración de toda la sociedad.
    </p>

    <p>Con el propósito de efectivizar este mandato legal y dar cumplimiento a las normativas señaladas, el Invima
        viene implementando el sistema de notificación electrónica de los actos administrativos, a través del cual se
        pretende agilizar el trámite de las actuaciones administrativas, prestando de esta manera un mejor y más
        eficiente servicio a los usuarios, en la medida que no tienen que desplazarse hasta la entidad a conocer las
        decisiones que se adelantan dentro del trámite.
    </p>

    <h4>Términos y condiciones de uso de la notificación electrónica:</h4>

    <p>Si usted en calidad de usuario suscribe el presente documento aceptando ser notificado a través de correo
        electrónico, conoce y acepta además las siguientes condiciones de uso:
    </p>

    <br>
    <p>• Usted suministra a la administración una dirección de correo electrónico (a la cual desea le sean remitidos
        los correos de notificación), la cual se presume propia y utilizada directamente por usted, por lo que en ningún
        caso podrá alegar con posterioridad el desconocimiento de los actos notificados por operaciones en el buzón
        delegadas a terceros.
    </p>
    <br>

    <p>• El Invima envía a la dirección electrónica suministrada una comunicación mediante la cual remite el acto
        administrativo adjuntando el documento en formato PDF.
    </p>
    <br>
    <p>• Los términos de interposición de recursos y de ejecutoria del acto administrativo se empezarán a contar a
        partir del día siguiente en que el mensaje electrónico haya sido dispuesto en la bandeja de entrada del correo
        del usuario.
    </p>
    <br>

    <p>• Obligaciones del usuario:</p>
    <br>
    <p>- Revisar continuamente y de manera directa su correo electrónico.</p>
    <br>
    <p>- Informar a la Entidad de forma escrita o por el correo electrónico correccionemail@invima.gov.co del INVIMA,
        cuando decida cambiar la dirección electrónica registrada, debe indicar el número del radicado y el nuevo correo
        electrónico. Este requerimiento lo debe solicitar el representante legal o apoderado del mismo.
    </p>
    <br>
    <p>- Informar de manera inmediata al Instituto cualquier inconveniente relacionado con la recepción o apertura del
        correo o documento mediante el cual se realiza la notificación electrónica. En tal caso el error o defecto
        deberá reportarse al correo ayudavirtual@invima.gov.co indicando el inconveniente y reenviando el mensaje de
        datos remitido por la entidad."
    </p>
</div>
<br>


<p-table [value]="infoNotification" dataKey="user" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th>seleccionar</th>
            <th>Usuario</th>
            <th>Correo electronico</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td>
                <p-tableCheckbox [value]="rowData" (click)="saveNotifi()"></p-tableCheckbox>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.user">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.user}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.email">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.email}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<div class="ui-g-12">
    <div style="text-align: right">
        <button [disabled]="enableBtnNotifi" pButton type="submit" label="Confirmar"
                class="ui-button-rounded ui-button-success"
                style="width: 150px"></button>
    </div>
</div>
