<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
            </p-panel>

            <p-panel class="ui-g-12" >
                <p-header>Estudios preclínicos</p-header>
                <div class="ui-g">
                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <p-table [value]="requests">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="parameter" style="text-align: center;">
                                        Parámetro
                                        <p-sortIcon field="parameter"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="tittle" style="text-align: center;">
                                        Titulo
                                        <p-sortIcon field="tittle"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="folio" style="text-align: center;">
                                        Folio
                                        <p-sortIcon field="folio"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-index="rowIndex">
                                <tr>
                                    <td>{{ data.parameter }}</td>
                                    <td>{{ data.tittle }}</td>
                                    <td>{{ data.folio }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-panel>


            <!-- <p-fieldset class="ui-g-12">
                <p-header>Estudios soporte</p-header>
                <div class="ui-g">
                    <p-fieldset class="ui-g-12">
                        <p-header>Estudios preclínicos</p-header>
                        <form [formGroup]="form">

                            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                                <div class="ui-g-12" style="margin-top: -6px;">
                                    <label class="tab-title-h5">Parámetro</label>
                                </div>
                                <div class="ui-g-12">
                                    <p-dropdown formControlName="parametro" [options]="countryLs" [showClear]="true"
                                        placeholder="Seleccione" optionLabel="name" [filter]="true" showClear="true">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5">Titulo</label>
                                </div>
                                <div class="ui-g-12">
                                    <input formControlName="tittle" [(ngModel)]="tittle" pInputText type="text"
                                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"
                                        disabled="true" />
                                </div>
                            </div>

                            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5">Resumen de los estudios</label>
                                </div>
                                <div class="ui-g-12">
                                    <input formControlName="studySummary" [(ngModel)]="studySummary" pInputText
                                        type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                        spellcheck="off" disabled="true" />
                                </div>
                            </div>

                            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                                <div class="ui-g-12">
                                    <label class="tab-title-h5">Folios</label>
                                </div>
                                <div class="ui-g-12">
                                    <input formControlName="folio" [(ngModel)]="folio" pInputText type="text"
                                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"
                                        disabled="true" />
                                </div>
                            </div>

                            <div class="ui-g-12" style="display: flex; justify-content: flex-end;">
                                <div class="ui-g-2">
                                    <button pButton type="button" class="ui-button-success" label="Agregar"></button>
                                </div>
                            </div>
                        </form>

                        <div class="ui-g-12" *ngIf="isRequest">
                            <p-table [columns]="tableCols" [value]="tableData">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data>
                                    <tr>
                                        <td>{{data.parameter}}</td>
                                        <td>{{data.tittles}}</td>
                                        <td>{{data.studySummary}}</td>
                                        <td>{{data.folio}}</td>
                                        <td>{{data.actions}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-fieldset>
                </div>
            </p-fieldset> -->
        </div>
    </div>
</div>