<div class="ui-g">
    <div class="ui-sm-12 ui-md-12 ui-lg-12" style="background-color: #e1faff;">
        <div class="title">
            <h3>Datos del radicado relacionado</h3>
        </div>
    </div>
</div>