<div class="ui-g">
    <form [formGroup]="form">
        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="ui-g-12" style="margin-top: -6px;">
                <label class="tab-title-h5">Condicion de venta</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                            [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="ui-g-12" style="margin-top: -6px;">
                <label class="tab-title-h5">Norma farmacologica</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                            [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>


        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g-12">
                <label class="tab-title-h5">Indicaciones</label>
            </div>
            <div class="ui-g-12">
                <input pInputText type="text" formControlName="indications">
            </div>
        </div>

        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g-12">
                <label class="tab-title-h5">Contraindicaciones</label>
            </div>
            <div class="ui-g-12">
                <input pInputText type="text" formControlName="contraindications">
            </div>
        </div>

        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g-12">
                <label class="tab-title-h5">Precauciones y advertencias</label>
            </div>
            <div class="ui-g-12">
                <input pInputText type="text" formControlName="precautions">
            </div>
        </div>

        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g-12">
                <label class="tab-title-h5">Reaccciones adversas</label>
            </div>
            <div class="ui-g-12">
                <input pInputText type="text" formControlName="reactions">
            </div>
        </div>

        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g-12">
                <label class="tab-title-h5">Interacciones</label>
            </div>
            <div class="ui-g-12">
                <input pInputText type="text" formControlName="interactions">
            </div>
        </div>


        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g-12" style="margin-top: -6px;">
                <label class="tab-title-h5">Tipo de medicamento</label>
            </div>
            <div class="ui-g-12">
                <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione"
                            optionLabel="name" [filter]="true" showClear="true">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
            <div class="ui-g" style="width:250px;margin-bottom:10px; margin-top: 33px;">
                <div class="ui-g-12">
                    <p-checkbox label="Tiene inserto"></p-checkbox>
                </div>
            </div>
        </div>

        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-inputgroup" style="margin-top: 33px;">
                <input type="text" pInputText value="{{nameAttach}}" [disabled]="true">
                <button pButton type="button" icon="pi pi-paperclip"
                        class="ui-button-secondary">
                                <span
                                    style="z-index: 9; color: #f2f3f5; position: absolute; left: 2px; top: 2px;"
                                    class="material-icons">attachment</span>
                    <p-fileUpload mode="basic" auto="true"
                                  accept="application/pdf,application/docx"
                                  customUpload="true" (uploadHandler)="toAttach($event)"
                    ></p-fileUpload>
                </button>
            </div>
        </div>
        <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
            <div class="ui-g-12">
                <label class="tab-title-h5">Version</label>
            </div>
            <div class="ui-g-12">
                <input pInputText type="text" formControlName="version">
            </div>
        </div>
        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Tipo de riesgo biologico</label>
                </div>
                <div class="ui-g-12">
                    <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                                [filter]="true" showClear="true">
                    </p-dropdown>
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Clasificacion biologico</label>
                </div>
                <div class="ui-g-12">
                    <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                                [filter]="true" showClear="true">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <label class="tab-title-h5">Ruta de estudio</label>
                </div>
                <div class="ui-g-12">
                    <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                                [filter]="true" showClear="true">
                    </p-dropdown>
                </div>
            </div>
        </div>


        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g-12">
                <label class="tab-title-h5">Producto de referencia</label>
            </div>
            <div class="ui-g-12">
                <input pInputText type="text" formControlName="referenceProduct">
            </div>
        </div>


    </form>


</div>
