<div class="ui-g">
    
    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-12">
            <label class="tab-title-h5">Nombre del producto</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="productNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>
    
    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Marca</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="brand" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Contenido alcohólico (%vol/°G.A)</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="percentageAlcohol" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Vida útil de la bebida alcohólica</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="usefulLife" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>

</div>