<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo></app-procedureInfo>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Plan de gestión de riesgo</p-header>

                <h5 class="title" style="color: #0e0e9f; margin-left: 8px;">Parte V Medidas de minimización de
                    riesgo</h5>
                <label>Actividades de farmacovigilancia proporcionales al riesgo del medicamento</label>
                <form [formGroup]="form">
                    <div class="ui-g">
                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12" style="margin-top: -6px;">
                                <label class="tab-title-h5"><span>*</span> Tipo de riesgo</label>
                            </div>
                            <div class="ui-g-12">
                                <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione"
                                            optionLabel="name"
                                            [filter]="true" showClear="true" formControlName="typerisk">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="ui-sm-8 ui-g-8 ui-lg-8 ui-md-8">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Descripcion del riesgo</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="risk" pInputText type="text">
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <label class="tab-title-h5"><span>*</span> Actividades de MR de rutina</label>
                            <input formControlName="activityMr" pInputText type="text">

                        </div>
                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <label class="tab-title-h5"><span>*</span> Actividades de MR adicionales</label>
                            <input formControlName="activityAdit" pInputText type="text">

                        </div>
                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <label class="tab-title-h5"><span>*</span> Objetivo de la actividad de rutina de MR</label>
                            <input formControlName="objetActivity" pInputText type="text">

                        </div>
                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <label class="tab-title-h5"><span>*</span> Objetivo de la actividad adicional de MR</label>
                            <input formControlName="objetActivityAdit" pInputText type="text">

                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <label class="tab-title-h5"><span>*</span> Acciones a tomar para verificar la eficacia de la
                                MR</label>
                            <input formControlName="actions" pInputText type="text">
                        </div>


                        <div class="ui-rtl" dir="rtl">
                            <button style="width: 120px" (click)="add()" pButton type="button" label="Agregar"
                                    class="ui-button-rounded ui-button-success" [disabled]="!form.valid"></button>
                        </div>
                    </div>
                </form>

                <br>
                <p-table [columns]="head" [value]="results" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Tipo de riesgo</th>
                            <th>Descripcion del riesgo</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr [pSelectableRow]="rowData">
                            <td>{{rowData.typerisk.name}}</td>
                            <td>{{rowData.risk}}</td>
                            <td align="center">

                            </td>
                        </tr>
                    </ng-template>
                </p-table>


            </p-panel>
        </div>
    </div>
</div>

