<div class="ui-g">

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">N° expediente</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="recordNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Registro sanitario</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="healthRegister" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Vigencia</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="validityDate" [locale]="es"
                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Tipo de bebida alcoholica</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="drinkTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="drinkTypeSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fabricación del producto</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="creteProductsLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="creteProductsSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Tipo de plaguicida</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="pesticideTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="pesticideTypeSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-12">
            <label class="tab-title-h5">Cual</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="pesticide" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" />
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Código concepto toxocológico</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="toxconceptCode" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" />
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">N° resolución</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="resolutionNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" />
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12" style="margin-top: -6px;">
            <label class="tab-title-h5">Categoria toxocológica</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="toxCategoryLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="toxCategorySelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

</div>