<div class="ui-fluid">
    <h1 class="tab-title-h1">Radicar Trámite</h1>
    <p-panel class="ui-g-12">
        <p-header>Pagar trámite</p-header>

        <p-fieldset legend="Descripcion del pago">
            <app-paymentDescription [accion]="accion"></app-paymentDescription>
        </p-fieldset>

        <div class="ui-g-12">
            <h4>Seleccione el medio de pago</h4>
            <div class="ui-g-6">
                <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success"
                        style="width: 150px" (click)="!paymentSearch"></button>
            </div>
            <div class="ui-g-6">

            </div>
        </div>

        <div *ngIf="!paymentSearch" class="ui-g-12">
            <div class="ui-g-12" style="margin-top: -6px;">
                <label class="tab-title-h5">Codigo del pago</label>
            </div>
            <div class="ui-g-8">
                <input [(ngModel)]="paymentCode" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off"/>
            </div>
            <div class="ui-g-4">
                <button pButton type="button" label="Buscar" class="ui-button-rounded ui-button-success"
                        style="width: 150px"></button>
            </div>
        </div>

        <p-fieldset legend="Confirmacion pago codigo de barras">
            <app-confirmPaymentConsignment></app-confirmPaymentConsignment>
        </p-fieldset>

        <p-fieldset legend="Confirmar pago PSE">
            <app-confirmPaymentPse></app-confirmPaymentPse>
        </p-fieldset>

        <div class="ui-g" style="margin-top: 20px">
            <p class="ui-g-4">La factura se debe enviar a nombre de</p>
            <div class="ui-g-4" style="margin: 14px;padding: 7px">
                <p-dropdown [options]="options" optionLabel="name" [(ngModel)]="personTypeSelect"
                            placeholder="--- Seleccione una opcion ---"
                            [showClear]="true" [filter]="true" showClear="true"></p-dropdown>
            </div>

        </div>
        <div style="margin-top: 50px;margin-bottom: 30px;text-align: right">
            <button pButton type="button" label="Agregar al carrito" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
            <button pButton type="button" label="Nuevo tramite" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
            <button pButton type="button" label="Visualizar tramite" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
            <button pButton type="button" label="Radicar" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
    </p-panel>
</div>

