<div class="ui-g">

    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-12">
            <p>Nombre del producto</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="productName">
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <p>Clasificación del dispositivo</p>
        </div>
        <div class="ui-g-12">
            <p-dropdown class="dropdown-style" [options]="deviceClasificationLs" [(ngModel)]="deviceClassification"
                        placeholder="Seleccione"
                        optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <p>Vida útil</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="usefulLife">
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <p>Código internacional</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="internationalCode">
        </div>
    </div>

    <div class="ui-sm-8 ui-g-8 ui-lg-8 ui-md-8">
        <div class="ui-g-12">
            <p>Nombre genérico del producto</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="genericName">
        </div>
    </div>

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <p>Marca</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="mark">
        </div>
    </div>

    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-12">
            <p>Indicaciones y usos</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="indications">
        </div>
    </div>

    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-12">
            <p>Presentación comercial</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="commercialPresentation">
        </div>
    </div>

</div>

<p-fieldset legend="Componentes y composición">
    <form #submitDataComponents="ngForm" (ngSubmit)="saveDataComponents(submitDataComponents)">
        <div class="ui-g">

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <p>Parte que compone el dispositivo</p>
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText name="devicePart" [(ngModel)]="inputDevicePart">
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <p>Composición cualitativa</p>
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText name="qualitativeComposition"
                           [(ngModel)]="inputQualitativeComposition">
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <button style="margin-top: 20px; width: 200px" pButton type="submit" label="Agregar"
                            class="ui-button-rounded ui-button-success"></button>
                </div>
            </div>

        </div>
    </form>

    <div class="ui-g">
        <p-table class="ui-g-12" [value]="dataComponents">
            <ng-template pTemplate="header">
                <tr style="height: 70px">
                    <th>Parte que compone el dispositivo</th>
                    <th>Composición cualitativa</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itemComponents let-indexComponents="rowIndex">
                <tr>
                    <td>{{itemComponents.devicePart}}</td>
                    <td>{{itemComponents.qualitativeComposition}}</td>
                    <td align="center">
                        <button (click)="popUpEditDataComponents(itemComponents,indexComponents)" pButton type="button"
                                style="width: 20%">
                            <i class="material-icons">edit</i>
                        </button>
                        <button (click)="deleteDataComponents(indexComponents)" pButton type="button"
                                style="width: 20%; margin-left: 20px">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>

            </ng-template>
        </p-table>
    </div>

</p-fieldset>

<p-dialog header="Editar Componente" [modal]="true" [(visible)]="showPopUpComponents"
          [contentStyle]="{'width':'1000px','height':'150px'}">
    <form #submitEditDataComponents="ngForm" (ngSubmit)="saveEditDataComponents(submitEditDataComponents)">
        <div class="ui-g">

            <div class="ui-g-4" style="display: grid">
                <p>Parte que compone el dispositivo</p>
                <input type="text" pInputText name="devicePart" [ngModel]="">
            </div>
            <div class="ui-g-4" style="display: grid">
                <p>Composición cualitativa</p>
                <input type="text" pInputText name="qualitativeComposition"
                       [ngModel]="">
            </div>
            <div class="ui-g-4">
                <button style="margin-top: 20px; width: 200px" pButton type="submit" label="Guardar Cambios"
                        class="ui-button-rounded ui-button-primary"></button>
            </div>
        </div>
    </form>
    <br><br>
</p-dialog>


<p-fieldset legend="Referencias">

    <form #submitDataReferences="ngForm" (ngSubmit)="saveDataReferences(submitDataReferences)">
        <div class="ui-g">

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <p>Familia</p>
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText name="family" [(ngModel)]="inputFamily">
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <p>Código, Modelo o Referencia</p>
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText name="code" [(ngModel)]="inputCode">
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="ui-g-12">
                    <p>Descripción</p>
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText name="description" [(ngModel)]="inputDescription">
                </div>
            </div>

            <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                <div class="ui-g-12" align="right">
                    <button style="margin-top: 20px; width: 200px" pButton type="submit" label="Agregar"
                            class="ui-button-rounded ui-button-success"></button>
                </div>
            </div>
        </div>
    </form>

    <div class="ui-g">
        <p-table class="ui-g-12" [value]="dataReferences">
            <ng-template pTemplate="header">
                <tr style="height: 70px">
                    <th>Familia</th>
                    <th>Código, Modelo o Referencia</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itemReferences let-indexReferences="rowIndex">
                <tr>
                    <td>{{itemReferences.family}}</td>
                    <td>{{itemReferences.code}}</td>
                    <td>{{itemReferences.description}}</td>
                    <td align="center">
                        <button (click)="popUpEditDataReferences(itemReferences,indexReferences)" pButton type="button"
                                style="width: 20%">
                            <i class="material-icons">edit</i>
                        </button>
                        <button (click)="deleteDataReferences(indexReferences)" pButton type="button"
                                style="width: 20%; margin-left: 20px">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</p-fieldset>

<p-dialog header="Editar Componente" [modal]="true" [(visible)]="showPopUpReferences"
          [contentStyle]="{'width':'800','height':'600px'}">
    <form #submitEditDataReferences="ngForm" (ngSubmit)="saveEditDataReferences(submitEditDataReferences)">
        <div class="ui-g">

            <div class="ui-g-4" style="display: grid">
                <p>Familia</p>
                <input type="text" pInputText name="family" [ngModel]="">
            </div>
            <div class="ui-g-4" style="display: grid">
                <p>Código, modelo o referencia</p>
                <input type="text" pInputText name="code" [ngModel]="">
            </div>
            <div class="ui-g-4" style="display: grid">
                <p>Descripción</p>
                <input type="text" pInputText name="description" [ngModel]="">
            </div>
            <div class="ui-g-4">
                <button style="margin-top: 20px; width: 200px" pButton type="submit" label="Guardar Cambios"
                        class="ui-button-rounded ui-button-primary"></button>
            </div>
        </div>
    </form>
</p-dialog>

<div class="ui-g">
    <div class="ui-g-12">
        <p>Observaciones</p>
        <textarea
            rows="3" cols="180"
            pInputTextarea autoResize="autoResize"
            placeholder="Si las hay, describa en este campo precauciones especiales o información relevante del producto que se pretende registrar"
            [(ngModel)]="observations">
      </textarea>
    </div>
</div>
