.modalContainer{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;

    padding: 0%;
    color: #23abcf;
    background-color: white ;
}

.modalContainer__reasonReturn{
  
    display: flex;
    flex-direction: column;
    padding: 0% 5px;
    min-width: 300px;
    max-width: 600px;
    width: 700px;
    height: 80%;
}

::ng-deep .modalContainer__reasonReturn .ui-dropdown{
    width: 80%;
}

div textarea{
    height: 150px;
    border: solid 1px black;
}

.btn_guardar button{
    margin: 15px;
    border: none;
    float: right;
    color: white;
    margin-right: 30px;
}



