<div class="modalContainer ui-g" [formGroup] = "fgReturnModal">   
    <div class="ui-g-12 modalContainer__reasonReturn">
        <span>*Motivo devlolución</span>
        <p-dropdown [options]="returnOption" optionLabel="Descripcion" formControlName="filedNumber"></p-dropdown>

        <span style="margin: 20px 0px;">*Justificación</span>
        <textarea  class="ui-g-10" pInputTextarea formControlName="proceedings"></textarea>
    </div>
    <p-footer></p-footer>
</div>
