<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Plan de gestion del riesgo</p-header>
                <h4 style="color: #0e0e9f; margin-left: 8px;">Parte III Plan de farmacovigilancia</h4>
                <label> Actividades de farmacovigilancia proporcionales al riesgo del medicamento</label>
                <form [formGroup]="form">
                    <div class="ui-g">


                        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-g-12" style="margin-top: -6px;">
                                <label class="tab-title-h5"><span>*</span> Tipo de riesgo</label>
                            </div>
                            <div class="ui-g-12">
                                <p-dropdown [options]="list" [showClear]="true" placeholder="Seleccione"
                                            optionLabel="name"
                                            [filter]="true" showClear="true" formControlName="typeRisk">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Descripcion del riesgo</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="risk" pInputText type="text">
                            </div>
                        </div>


                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Actividades de rutina</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="routine" pInputText type="text">
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Actividades adicionales</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="additional" pInputText type="text">
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Objetivo de la actividad de rutina </label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="routineGoal" pInputText
                                       type="text">
                            </div>
                        </div>

                        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Objetivo de la actividad adicional </label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="additionalGoal" pInputText
                                       type="text">
                            </div>
                        </div>
                    </div>
                </form>
                    <div class="ui-rtl" dir="rtl">
                        <button (click)="add()" style="width: 120px" pButton type="button" label="Agregar"
                                class="ui-button-rounded ui-button-success" [disabled]="!form.valid"></button>
                    </div>

                <br>
                <p-table [columns]="head" [value]="results" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Tipo de riesgo</th>
                            <th>Descripcion del riesgo</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr [pSelectableRow]="rowData">
                            <td>{{rowData.typeRisk.name}}</td>
                            <td>{{rowData.risk}}</td>
                            <td align="center">

                            </td>
                        </tr>
                    </ng-template>
                </p-table>


                <h4 style="color: #0e0e9f; margin-left: 8px;">Parte IV para estudio de eficacia post-autorización</h4>

                <p-fieldset legend="Estudios de eficacia post-autorización">
                    <div class="ui-g">
                        <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Descripción de planes o estudios
                                    realizados</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="descriptionPlans" pInputText type="text">
                            </div>
                        </div>

                        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                            <div class="ui-g-12">
                                <label class="tab-title-h5"><span>*</span> Folio</label>
                            </div>
                            <div class="ui-g-12">
                                <input formControlName="folio" pInputText type="number">
                            </div>

                        </div>
                    </div>
                </p-fieldset>
            </p-panel>

        </div>
    </div>
</div>
