<!-- <p-dialog header="Su solicitud se ha radicado exitosamente" [(visible)]="display" [style]="{width: '50vw'}"> -->
    <b>N°</b>.Radicado: xxxxxxxxxxx<br>
    <b>Fecha</b>:15-03-2021 13:45:269<br>
    <b>Asunto</b>: Consulta Preguntas sobre evaluacion de seguridad y eficacia<br>
    <b>Remitente</b>: Direccion de Registros-Diego Paz Reyes
<!-- </p-dialog> -->