<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo></app-procedureInfo>
            </p-panel>
            <br>
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <p-fieldset legend="Estudios clinicos">
                    <form [formGroup]="formClinicalStudy" (ngSubmit)="add()">
                    <div class="ui-g">
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                                <label class="tab-title-h5">Parámetro</label>
                                <p-dropdown [options]="option" [showClear]="true" formControlName="parameter"
                                            placeholder="Seleccione" optionLabel="name" showClear="true">
                                </p-dropdown>
                            </div>
                            <div class="ui-sm-12 ui-md-6 ui-g-2 ui-lg-2">
                                <label class="tab-title-h5">Fase</label>
                                <input pInputText type="text" autocomplete="off" autocorrect="off"
                                      formControlName="phase" autocapitalize="off" style="margin-top: 7px"/>
                            </div>
                            <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-6">
                                <label class="tab-title-h5">Intención</label>
                                <input pInputText type="text" autocomplete="off" autocorrect="off"
                                      formControlName="intention" autocapitalize="off" style="margin-top: 7px"/>
                            </div>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                                <label class="tab-title-h5">Resumen de los estudios</label>
                                <input pInputText type="text" autocomplete="off" autocorrect="off"
                                      formControlName="summary" autocapitalize="off" style="margin-top: 7px"/>
                            </div>
                            <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                                <label class="tab-title-h5">Folio</label>
                                <input pInputText type="text" autocomplete="off" autocorrect="off"
                                      formControlName="invoice" autocapitalize="off" style="margin-top: 7px"/>
                            </div>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg">
                            <div class="ui-rtl" dir="rtl">
                                <button style="width: 120px" pButton type="button" label="Agregar" [disabled]="!formClinicalStudy.valid"
                                        class="ui-button-rounded ui-button-success" (click)="add()"></button>
                            </div>
                        </div>
                    </div>
                    </form>

                    <br>
                    <p-table [columns]="head" [value]="results" selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Parámetro</th>
                                <th>Fase</th>
                                <th>Titulo</th>
                                <th>Resumen de los estudios</th>
                                <th>Folio</th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                            <tr [pSelectableRow]="rowData">
                                <td>{{rowData.parameter}}</td>
                                <td>{{rowData.phase}}</td>
                                <td>{{rowData.title}}</td>
                                <td>{{rowData.studentSummary}}</td>
                                <td>{{rowData.Invoice}}</td>
                                <td align="center">

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
                <br>
                <p-fieldset legend="Estudios Fase III">
                    <div class="ui-g">
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Diseño del estudio clinico</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Tamaño de muestra</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Duracion del estudio</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Número de participantes</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Población estudiada (criterios claves de inclusión y exclusión)</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Diseño estadistico de análisis de resultados</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Resultados</label>
                            <p-chips></p-chips>
                        </div>
                        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                            <label class="tab-title-h5">Información complementaria</label>
                            <p-chips></p-chips>
                        </div>
                    </div>

                </p-fieldset>
            </p-panel>
        </div>
    </div>
</div>

