<form class="ui-fluid p-grid attach-document" [formGroup]="fgAttachDocument">
  <div class="p-col-12 p-md-4">
    <label> *Sala </label>
    <p-dropdown [options]="this.schedulingService.listRoom" formControlName="room" 
      placeholder="Seleccione" showClear="true"
      optionLabel="NombreCorto">
    </p-dropdown>
  </div>
  <div class="p-col-12 p-md-4">
    <label> *Mes Agendamiento </label>
    <p-dropdown [options]="listSchedulingMonth" formControlName="schedulingMonth" 
      placeholder="Seleccione" showClear="true"
      optionLabel="Descripcion">
    </p-dropdown>
  </div>
  <div class="p-col-12 p-md-4">
    <label> *Corte </label>
    <p-dropdown [options]="listSchedulingCut" formControlName="schedulingCut" 
      placeholder="Seleccione" showClear="true"
      optionLabel="fechaAgenda">
    </p-dropdown>
  </div>
  
  <div class="p-col-12 attach-document-question">
    <label>¿Requiere adjuntar un documento actualizado de la agenda ?</label>
    <p-radioButton name="groupquestion" label="Si" [value]="true" [(ngModel)]="checkbox" [ngModelOptions]="{standalone: true}"></p-radioButton>
    <p-radioButton #cheked name="groupquestion" label="No" [value]="false" [(ngModel)]="checkbox" [ngModelOptions]="{standalone: true}"></p-radioButton>
    <button pButton type="button" label="Ver" class="ui-button-rounded ui-button-primary" [disabled]="checkbox" ></button>
  </div>
  <div class="p-col-12 attach-document-table" *ngIf="checkbox">
    <div class="p-grid p-align-center">
      <p-fileUpload #updatedDocument class="p-col-12 p-md-4" mode="basic" auto="true" 
          accept="application/msword,application/docx,application/pdf" customUpload="true" 
          (uploadHandler)="toAttachDocument($event); updatedDocument.clear()" 
          chooseLabel="Adjuntar" fileLimit="1" maxFileSize="50000000">
      </p-fileUpload>
      <span class="p-col-12 p-md-8">Puede anexar máximo 1 Archivo. Recuerde que el peso maximo es de 5MB Extensiones permitidas Word</span>
      <app-table-attach-document
        [columnsTable]="columnsTable"
        [valuesTable]="valuesTable"
        [listActions]="listActions"
      ></app-table-attach-document>
    </div>
  </div>
</form>

<p-dialog [(visible)]="viewPdfDocument" [modal]="true" styleClass="dialog-visor-pdf" [responsive]="true" [style]="{ width : '70vw'}">
  <div class="pdf-container-print" style="min-height: 400px">
      <pdf-viewer [src]="archivo" [original-size]="false"></pdf-viewer>
  </div>
</p-dialog>
