.attach-document label {
  color: #02B4CC;
  margin: 0.5rem 0;
  display: block;
}

.attach-document .attach-document-question label {
  display: inline-block;
}

.attach-document .attach-document-question p-radioButton {
  margin: 1rem;
}

.attach-document .attach-document-question button {
  float: right;
  width: 100px;
}

.attach-document .attach-document-table {
  margin-top: 2rem;
  padding: 0 1rem;
}