<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">

            <p-panel class="ui-g-12">
                <p-header>Información del producto</p-header>
                <app-productInfo [productTypeLs]="productTypeLs" [groupLs]="groupLs" [subGroupLs]="subGroupLs"
                    [productCategoryLs]="productCategoryLs">
                </app-productInfo>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
            </p-panel>

            <p-panel class="ui-g-12">
                <p-header>Información del registro sanitario</p-header>
                <app-healthRegisterInfo></app-healthRegisterInfo>
            </p-panel>

            <p-fieldset class="ui-g-12">
                <p-header>Información de interés general</p-header>
                <div class="ui-g">
                    <span class="ui-g-12" style="font-weight: bold;">Señor usuario:</span>
                    <span class="ui-g-12">{{interestInfo}}</span>
                </div>
            </p-fieldset>

            <div class="ui-g-12" style="display: flex; justify-content: flex-end;">
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button-secondary" label="Guardar"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button-success" icon="pi pi-chevron-right" iconPos="right"
                        label="Continuar"></button>
                </div>
            </div>

        </div>
    </div>
</div>