<p-table [columns]="columnConsignment" [value]="dataConsignment" [responsive]="true">
    <ng-template pTemplate="header" >
        <tr>
            <th>Entidad Recaudadora</th>
            <th>Tipo Cuenta</th>
            <th>Numero Cuenta</th>
            <th>Fecha Consignacion</th>
            <th>Ciudad</th>
            <th>Valor Pagado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" class="ui-sm-12">
                <span class="ui-column-title">{{col.header}}</span>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
