<div taskBody class="ui-g ui-fluid divSecundary">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <p-card class="my-card" [style]="{border: 'none'}">
                <div>
                    <div class="ui-g-12">
                        <div class="ui-sm12 ui-md-4 ui-g-4 ui-lg-4">
                            <p-dropdown [options]="rowsOptions"
                                        [(ngModel)]="rows"
                            ></p-dropdown>
                        </div>
                        <div class="ui-sm12 ui-md-8 ui-g-8 ui-lg-8">
                            <input type="text" pInputText placeholder="Buscar"
                                   (input)="filter($event)" style="background-color: white">
                        </div>
                    </div>
                </div>
                <br/>
            <p-table [value]="_Proc"
                     [paginator]="true"
                     [responsive]="true"
                     selectionMode="single"
                     [rows]="rows">>
                <ng-template pTemplate="header">
                    <tr style="background: #5b6976">
                        <th style="width: 20%">N° radicado</th>
                        <th>Fecha radicado</th>
                        <th>Tipo de trámite</th>
                        <th>Tipo de producto</th>
                        <th>Grupo</th>
                        <th style="width: 12%">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reg>
                    <tr>
                        <td>{{reg.name}}</td>
                        <td>{{reg.region}}</td>
                        <td>{{reg.alpha3Code}}</td>
                        <td>{{reg.subregion}}</td>
                        <td>{{reg.area}}</td>
                        <td>
                            <span (click)="openMod()" class="material-icons cursor-dynamic" tooltipPosition="top" pTooltip="asignar tramites">person</span>
                            <span class="material-icons cursor-dynamic">reply</span>
                            <span class="material-icons cursor-dynamic" (click)="viewTaskAssigned()">visibility</span>

                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </p-card>
        </div>
    </div>
</div>
<p-dialog header="Asignacion" [(visible)]="toAssign" [style]="{width: '80vw'}"
          [baseZIndex]="10000" (onHide)="close()">
    <app-assignment></app-assignment>
    <p-footer>
        <button pButton type="button" label="Asignar"
                class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="cancelar"
                class="ui-button-rounded ui-button-danger" (click)="close()"></button>
    </p-footer>
</p-dialog>
