<div class="exception-body accessdenied">
    <div class="exception-panel">
        <div class="exception-content">
            <img src="assets/layout/images/pages/icon-access.svg">
            <h1>Acceso Denegado</h1>
            <p>Permisos insuficientes o innecesarios!</p>
            <button [routerLink]="['/']" type="button"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text ui-c">Ir a Dashboard</span>
            </button>
        </div>
    </div>
</div>