<br>
<div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-md-12 ui-lg-3" style="margin: 15px;">
        <p-fileUpload class="mi-btn" #fileUpload mode="basic" auto="true" accept="application/pdf,application/docx, image/jpg, image/png" customUpload="true" (uploadHandler)="toAttach($event, fileUpload)" chooseLabel="Adjuntar" fileLimit="2" maxFileSize="5000000"></p-fileUpload>
    </div>

    <div class="ui-sm-12 ui-md-9 ui-lg-8" style="text-align:left; margin: 15px;">
        <p class="notMarginP">Puede anexar máximo 2 Archivos. Recuerde que el peso máximo de cada archivo es de 5MB </p>
        <p class="notMarginP">Extensiones permitidas PDF, Word, Excel, JPG, PNG</p>
    </div>

    <div class="ui-sm-12 ui-md-12 ui-lg-12">
        <div class="ui-g ui-fluid">
            <p-table [columns]="head" [value]="resultsDocumentation" selectionMode="single" [responsive]="true" [style]="{'margin':'15px'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center; background-color: #009ec8; color: white; font-weight: bold;">Nombre documento</th>
                        <!-- <th style="width: 16%">Fecha creacion</th> -->
                        <th style="text-align: center; background-color: #009ec8; color: white; font-weight: bold; width: 30%">Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                    <tr [pSelectableRow]="rowData">
                        <td style="text-align: center;">{{rowData.name}}</td>
                        <!-- <td>{{rowData.date | date:'mediumDate'}}</td> -->
                        <td style="text-align: center;">
                            <button (click)="viewPdf(rowData)" pButton type="button" class="ui-button-rounded ui-button" style="margin-right: 5%; background: #009ec8" icon="ui-icon-visibility">
                                </button>
                            <button (click)="delete(index)" pButton type="button" class="ui-button-rounded ui-button" style="background: #009ec8" icon="ui-icon-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>

            <!-- <p-toast position="top-right"></p-toast> -->

            <p-dialog [(visible)]="previewVisible" [modal]="true" styleClass="dialog-visor-pdf" [responsive]="true" [style]="{ width : '70vw'}">
                <div class="pdf-container-print" id="pdf-embeded" style="min-height: 400px">
                    <pdf-viewer [src]="archivo" [original-size]="false"></pdf-viewer>

                </div>
            </p-dialog>
        </div>
    </div>
</div>
<!-- </div> -->