<form class="ui-g" [formGroup]="formInfoLegalRole" (ngSubmit)=" onSubmit(formInfoLegalRole)">
    <div class="ui-g-6">
        <p>Tipo Rol</p>
        <p-dropdown formControlName="roleType" [options]="items"></p-dropdown>
    </div>
    <div class="ui-g-6" style="padding-top: 50px">
        <p-checkbox formControlName="questionRol" label="¿El rol es del exterior?"></p-checkbox>
    </div>

    <div class="ui-g-6">
        <p>Tipo documento</p>
        <p-dropdown formControlName="documentType" [options]="items"></p-dropdown>
    </div>
    <div class="ui-g-6">
        <p>N° documento</p>
        <input type="text" pInputText formControlName="documentNumber" >
    </div>
    <div class="ui-g-12">
        <p>Nombre o Razon social</p>
        <input type="text" pInputText formControlName="reasonName">
    </div>
    <div class="ui-g-12">
        <p>Direccion</p>
        <input type="text" pInputText formControlName="addressHouse">
    </div>
    <div class="ui-g-6">
        <p>Pais</p>
        <p-dropdown formControlName="countryResidence" [options]="items"></p-dropdown>
    </div>
    <div class="ui-g-6">
        <p>ciudad</p>
        <p-dropdown formControlName="cityResidence" [options]="items"></p-dropdown>
    </div>
    <div class="ui-g-6">
        <p>Departamento</p>
        <p-dropdown formControlName="department" [options]="items"></p-dropdown>
    </div>
    <div class="ui-g-6">
        <p>Correo</p>
        <input type="text" pInputText formControlName="email">
    </div>
    <div class="ui-g-6">
        <p>Telefono</p>
        <input type="text" pInputText formControlName="telephone">
    </div>
    <div class="ui-g-6">
        <p>Celular</p>
        <input type="text" pInputText formControlName="cellphone">
    </div>
    <div class="ui-g-12">
        <div style="text-align: right">
            <button pButton type="submit" [label]="isEditing? 'Actualizar': 'Agregar'"  class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
    </div>
</form>

