<div class="informatioSheduledDate ui-g-12">
    <div class="options ui-g-12">
        <span (click)="update.emit(room)" class="material-icons">mode_edit</span>
        <span (click)="confirm()" class="material-icons">delete</span>
    </div>
    <div class="relatedInformation" *ngIf="room">
        <table class="default">
            <tr>
                <td class="data">Sala</td>
                <td class="dataInfo">{{room.getDescriptionRoom()}}</td>
            </tr>
            <tr>
                <td class="data">Tipo de sesión</td>
                <td class="dataInfo">{{room.getDescriptionSession()}}</td>
            </tr>
            <tr>
                <td class="data">Fecha inicial de agendamiento</td>
                <td class="dataInfo">{{room.start | date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td class="data">Fecha final de agendamiento</td>
                <td class="dataInfo">{{room.end | date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td class="data">Horario</td>
                <td class="dataInfo">{{room.initHour}} {{room.finalHour}}</td>
            </tr>
            <tr>
                <td class="data">Fecha inical de corte</td>
                <td class="dataInfo">{{room.initDateCut | date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td class="data">Fecha final de corte</td>
                <td class="dataInfo">{{room.finalDateCut | date:'dd-MM-yyyy'}}</td>
            </tr>
        </table>
    </div>
</div>