.informatioSheduledDate{
    padding-top: 0%;
    display: flex;
    flex-direction: column;
}

.options{
 padding-top: 0%;
 display: flex;
 justify-content: flex-end;
}

.material-icons{
    color: white;
    border-radius: 50%;
    background-color: #23abcf;;
    margin: 10px;
    cursor: pointer;
}

.data{
    color: #23abcf;
    text-align: left;
}

.dataInfo{
    text-align: right;
}