<form class="ui-g" [formGroup]="formInfoLegalAttorney" (ngSubmit)=" onSubmit(formInfoLegalAttorney)">
    <div class="ui-g-4">
        <p>Tipo Usuario</p>
        <input type="text" pInputText formControlName="userType">
    </div>
    <div class="ui-g-4">
        <p>Tipo documento</p>
        <p-dropdown formControlName="documentType" [options]="items"></p-dropdown>
    </div>
    <div class="ui-g-4">
        <p>N° documento</p>
        <input type="text" pInputText formControlName="documentNumber">
    </div>
    <div class="ui-g-12">
        <p>Nombre o razon social</p>
        <input type="text" pInputText formControlName="reasonName">
    </div>
    <div class="ui-g-4">
        <p>Estado</p>
        <input type="text" pInputText formControlName="stateInformation">
    </div>

    <div class="ui-g-12">
        <div style="text-align: right">
            <button pButton type="submit" [label]="isEditing? 'Actualizar': 'Guardar'" class="ui-button-rounded ui-button-success"
                    style="width: 150px"></button>
        </div>
    </div>
</form>

