<div class="ui-g">

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Tipo de producto</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="productTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="productTypeSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Grupo</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="groupLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="groupSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Subgrupo</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="subGroupLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="subGroupSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Categoria de producto</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="productCategoryLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="productCategorySelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

</div>