  
::ng-deep .attach-document__table.ui-table .ui-table-thead > tr > th,
::ng-deep .attach-document__table.ui-table .ui-table-tbody > tr > td {
  text-align: center;
}

::ng-deep .attach-document__table.ui-table .ui-table-thead > tr > th,
.attach-document__controls span {
  background-color: #23abcf;
  color: white;
}

.attach-document__controls span {
  height: 34px;
  width: 34px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.5rem;
}
