<p-table styleClass="attach-document__table"
  [columns]="columnsTable" 
  [value]="valuesTable" 
  [responsive]="true" >
  <ng-template pTemplate="header" let-columns>
      <tr >
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
          <th *ngIf="listActions.length">Acciones</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
            <p class="ui-column-title">{{col.header}}</p>
            {{rowData[col.field]}}
          </td>
          <td *ngIf="listActions.length" class="attach-document__controls">
            <span *ngFor="let button of listActions" class="material-icons" (click)="button.action(rowData)" >{{button.icon}}</span>
          </td>
      </tr>
  </ng-template>
</p-table>
