<div class="ui-fluid">
    <div class="ui-g">
        <p-panel class="ui-g-12">
            <p-header>Resumen de informacion farmacologica</p-header>
            <form [formGroup]="form">
                <div class="ui-g">
                    <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                        <label class="tab-title-h5"><span>*</span> Forma Farmaceutica</label>
                        <p-dropdown [options]="pharmaceutical" optionLabel="name"
                                    placeholder="Seleccione"
                                    formControlName="pharmaceutical"></p-dropdown>
                    </div>

                    <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                        <label class="tab-title-h5"><span>*</span> Condicion especial</label>
                        <p-dropdown [options]="specialCondition" optionLabel="name"
                                    placeholder="Seleccione"
                                    formControlName="specialCondition"></p-dropdown>
                    </div>

                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <label class="tab-title-h5"><span>*</span> Vida util del producto
                            terminado(meses)</label>
                        <textarea [rows]="2" pInputTextarea
                                  formControlName="finishedProduct"></textarea>

                    </div>

                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <label class="tab-title-h5"><span>*</span> Vida util IFA(Ingrediente
                            farmaceutico) - meses</label>
                        <textarea [rows]="2" pInputTextarea formControlName="pharmaceuticalIngredient"></textarea>

                    </div>

                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <label class="tab-title-h5"><span>*</span> Condición
                            almacenamiento</label>
                        <textarea [rows]="3" pInputTextarea
                                  formControlName="storageCondition"></textarea>
                    </div>

                    <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                        <p-checkbox value="produc" label="¿Su producto tiene solvente?"
                                    formControlName="youProduct" (onChange)="checkProduct($event)"></p-checkbox>
                    </div>

                    <div class="ui-sm-12 ui-g-5 ui-lg-5 ui-md-5" *ngIf="checkProducts">
                        <label class="tab-title-h5"><span>*</span> Vida Util del
                            solvente</label>
                        <input pInputText type="text" formControlName="solventLife">
                    </div>

                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <label class="tab-title-h5"><span>*</span> Consideración de vida
                            útil</label>
                        <textarea [rows]="3" pInputTextarea
                                  formControlName="lifeCondition"></textarea>
                    </div>

                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                        <div class="ui-g-12" style="margin-top: 12px; margin-left: 25px;">
                            <p-checkbox value="hasInsert" label="tiene inserto" (onChange)="checkInsert($event)"
                                        formControlName="hasInsert"></p-checkbox>
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-3">
                        <div class="ui-inputgroup" style="margin-top: 12px;" *ngIf="insert">
                            <input type="text" pInputText value="{{nameFile}}"
                                   [disabled]="true">
                            <button pButton type="button" icon="pi pi-paperclip"
                                    class="ui-button-secondary">
                            <span
                                style="z-index: 9; color: #f2f3f5; position: absolute; left: 2px; top: 2px;"
                                class="material-icons">attachment</span>
                                <p-fileUpload mode="basic" auto="true"
                                              accept="application/pdf,application/docx"
                                              customUpload="true"
                                              (uploadHandler)="attachDocument($event)"
                                ></p-fileUpload>
                            </button>
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-2 ui-lg-2 ui-md-2" *ngIf="insert">
                        <label><span>*</span> Versión</label>
                        <input pInputText type="text" formControlName="version">
                    </div>

                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                            <label><span>*</span> IPP (Información para el prescriptor)</label>
                            <p-dropdown [options]="IPP" optionLabel="name"
                                        placeholder="Seleccione" (onChange)="selectPrescription($event)"
                                        formControlName="prescriptionInformation"></p-dropdown>
                        </div>
                        <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4" *ngIf="selectPrescriptionInfo == 'OTRO'">
                            <label>¿Cuál?</label>
                            <input pInputText type="text" formControlName="which">
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                        <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4">
                            <div class="ui-inputgroup" style="margin-top: 12px;" *ngIf="selectPrescriptionInfo == 'SI'">
                                <input type="text" pInputText value="{{nameAttach}}"
                                       [disabled]="true">
                                <button pButton type="button" icon="pi pi-paperclip"
                                        class="ui-button-secondary">
                                <span
                                    style="z-index: 9; color: #f2f3f5; position: absolute; left: 2px; top: 2px;"
                                    class="material-icons">attachment</span>
                                    <p-fileUpload mode="basic" auto="true"
                                                  accept="application/pdf,application/docx"
                                                  customUpload="true"
                                                  (uploadHandler)="toAttach($event)"
                                    ></p-fileUpload>
                                </button>
                            </div>
                        </div>
                        <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4" *ngIf="selectPrescriptionInfo == 'SI'
                        || selectPrescriptionInfo == 'OTRO' || selectPrescriptionInfo == 'NO'">
                            <label><span>*</span> Version</label>
                            <input pInputText type="text" formControlName="version2">
                        </div>
                    </div>
                </div>
            </form>
        </p-panel>

        <p-panel class="ui-g-12">
            <p-header>Información envase</p-header>
            <form [formGroup]="formContainerInformation">
                <div class="ui-g">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-3">
                        <label class="tab-title-h5"><span>*</span> Tipo de envase</label>
                        <p-dropdown [options]="pharmaceutical" optionLabel="name"
                                    placeholder="Seleccione" (onChange)="containerType($event)"
                                    formControlName="containerType"></p-dropdown>
                    </div>

                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-4" *ngIf="selectContainerType == 'OTRO'">
                        <label class="tab-title-h5">¿Cuál?</label>
                        <input pInputText type="text" formControlName="cual">
                    </div>

                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-3" *ngIf="selectContainerType == 'OTRO'">
                        <label class="tab-title-h5">Documento técnico</label>
                        <input pInputText type="text" formControlName="technicalDocument">
                    </div>

                    <div class="ui-sm-12 ui-g-2 ui-lg-2 ui-md-2" *ngIf="selectContainerType == 'OTRO'">
                        <button pButton type="button" class="ui-button-success"
                                label="Agregar" (click)="add()"
                                [disabled]="!this.formContainerInformation.valid"></button>
                    </div>
                    <div class="ui-g-12" style="margin-top: 20px">
                        <p-table [value]="listaProyectores" [responsive]="true"
                                 [style]="{width: '100%', margin: 'auto'}">
                            <ng-template pTemplate="header">
                                <tr>

                                    <th>Tipo de evento</th>
                                    <th style="width: 20%">cuál</th>
                                    <th style="width: 40%">Vida util</th>
                                    <th>Acciones</th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                                <tr>
                                    <td>{{rowData.containerType.name}}</td>
                                    <td>{{rowData.cual}}</td>
                                    <td>{{rowData.technicalDocument}}</td>
                                    <td style="text-align: center">

                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </form>
        </p-panel>

        <p-panel class="ui-g-12">
            <p-header>ATC</p-header>
            <form [formGroup]="formATC">
                <div class="ui-g">
                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-3">
                        <div class="ui-g-12" style="margin-top: 12px; margin-left: 25px;">
                            <p-checkbox (onChange)="check($event)" label="tiene ATC"
                                        formControlName="hasATC"></p-checkbox>
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-3 ui-lg-3 ui-md-3">
                        <div class="ui-g-12" *ngIf="hasATC">
                            <label class="tab-title-h5"><span>*</span> ATC</label>
                            <p-dropdown (onChange)="atc($event)" [options]="pharmaceutical"
                                        optionLabel="name" placeholder="Seleccione"
                                        formControlName="ATC"></p-dropdown>
                        </div>
                    </div>

                    <div class="ui-sm-12 ui-g-6 ui-lg-6 ui-md-6">
                        <div class="ui-g-12" *ngIf="selectATC == 'OTRO'">
                            <label class="tab-title-h5"><span>*</span> Descripción</label>
                            <input pInputText type="text" formControlName="description">
                        </div>
                    </div>
                </div>
            </form>
        </p-panel>
    </div>
</div>

