<div class="ui-fluid">
    <p-messages [(value)]="message"></p-messages>
    <h1 class="tab-title-h1">Radicar Trámite</h1>

    <p-panel >
        <p-header>Información del trámite</p-header>
        <app-procedureInfo [groupLs]="procedureGroupLs" [procedureCategoryLs]="procedureCategoryLs"></app-procedureInfo>
    </p-panel>

    <p-panel align="center">
        <p-header>Preguntas orientadoras</p-header>
        <app-guidingQuestions></app-guidingQuestions>
    </p-panel>

    <p-panel align="center">
        <p-header>Informacion De La Tarifa</p-header>
        <app-rateInformation></app-rateInformation>
    </p-panel>

</div>

<br><div style="text-align: right;margin-top: 10px">
    <button pButton type="submit" label="Guardar"
            class="ui-button-rounded ui-button-success" (click)="verMessage()"  ></button>
    <button  pButton type="button" label="Continuar" class="ui-button-rounded ui-button-success" icon="pi pi-chevron-right" iconPos="right"></button>

</div>
