.attachModal{
    max-width: 800px;
} 
.attachModal app-table-attach-document{
    margin-bottom: 20px;
}

.attachModal form{
    display: flex;
}

.attachModal .p-field {
    margin: auto;
}

.attachModal label{
    color: #02B4CC;
    margin: 0.5rem 0;
    display: block;
}

.attachModal div button{
    float: right;
    max-width: 150px;
}

.attachModal div p-fileUpload{
    float: left;
    max-width: 150px;
}

::ng-deep .attachModal .ui-dropdown{
    width: 100%;
    color: #000;
}

