<div class="attachModal">
    <form class="ui-fluid p-formgrid p-grid" [formGroup]="fgSearch">
        <div class="p-field p-col-12 p-md-6 p-xl-4">
            <label for="listRoom">*Sala</label>
            <p-dropdown [options]="this.schedulingService.listRoom" formControlName="room" placeholder="Seleccione"
                showClear="true" optionLabel="NombreCorto" inputId="listRoom" ></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-6 p-xl-4">
            <label for="listSchedulingMonth">*Mes agendamiento</label>
            <p-dropdown [options]="listSchedulingMonth" formControlName="schedulingMonth" 
            placeholder="Seleccione" showClear="true"
            optionLabel="Descripcion" inputId="listSchedulingMonth"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-6 p-xl-4">
            <p-fileUpload #fu mode="basic" auto="true"
                accept="application/pdf,application/docx,image/jpg,image/png" 
                customUpload="true" [disabled]="!fgSearch.valid"
                (uploadHandler)="toAttachDocument($event); fu.clear()" 
                chooseLabel="Adjuntar" fileLimit="1" maxFileSize="5000000">
            </p-fileUpload>
        </div>
        <div class="p-field p-col-12">
            <p>Puede anexar máximo 1 Archivos recuerde que el peso máximo de cada archivo es de 5 MB<br> Exteciones permitidas word</p>
        </div>
        <app-table-attach-document [columnsTable]="columnsTable" [valuesTable]="valuesTable"
            [listActions]="listActions">
        </app-table-attach-document>
    </form>
    <div class="ui-g-12">
        <button pButton type="button" label="Enviar" (click)="buttonEvent()"
            class="ui-button-rounded ui-button-success p-field p-col-12 p-md-6 p-xl-3">
        </button>
    </div>
</div>

<p-dialog [(visible)]="viewPdfDocument" [modal]="true" styleClass="dialog-visor-pdf" [responsive]="true" [style]="{ width : '70vw'}">
    <div class="pdf-container-print" style="min-height: 400px">
        <pdf-viewer [src]="archivo" [original-size]="false"></pdf-viewer>
    </div>
</p-dialog>