<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">
            <p-panel class="ui-g-12">
                <p-header>Información del trámite</p-header>
                <app-procedureInfo></app-procedureInfo>
            </p-panel>
            <br>

            <p-panel class="ui-g-12">
                <p-header>Estudios clinicos</p-header>
                <p-table [columns]="head" [value]="results" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Parámetro</th>
                            <th>Fase</th>
                            <th>Titulo</th>
                            <th>Folio</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr [pSelectableRow]="rowData">
                            <td>{{rowData.parameter}}</td>
                            <td>{{rowData.phase}}</td>
                            <td>{{rowData.title}}</td>
                            <td>{{rowData.Invoice}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
            <br>
            <p-panel class="ui-g-12">
                <p-header>Estudios Fase III</p-header>
                <div class="ui-g">
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Diseño del estudio clinico</label>
                        <p-chips></p-chips>
                    </div>
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Tamaño de muestra</label>
                        <p-chips></p-chips>
                    </div>
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Duracion del estudio</label>
                        <p-chips></p-chips>
                    </div>
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Número de participantes</label>
                        <p-chips></p-chips>
                    </div>
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Población estudiada (criterios claves de inclusión y
                            exclusión)</label>
                        <p-chips></p-chips>
                    </div>
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Diseño estadistico de análisis de resultados</label>
                        <p-chips></p-chips>
                    </div>
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Resultados</label>
                        <p-chips></p-chips>
                    </div>
                    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
                        <label class="tab-title-h5">Información complementaria</label>
                        <p-chips></p-chips>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>