/* You can add global styles to this file, and also import other style files */
.cursor{
    cursor: pointer;
}

.cursor-dynamic{
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}
.cursor-dynamic:hover {
    color: darkblue;
}

.rectangle .ui-panel {
    box-shadow: 0 1px 4px 0 rgba(0, 8, 17, 0.2);
    border: solid 1px #f4f8e8;
    background-color: #ffffff;

}

.mi-panel .ui-panel-titlebar {
    background-color: #E5F5F9;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #009ec8;
    font-weight: bold;
}
