<div taskBody class="ui-g ui-fluid divSecundary">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g-12">
                <b><h2 style="color: #0f97c7">Registro Sanitario</h2></b>
            </div>
            <p-tabView [activeIndex]="tabIndex" class="my-panel"
                       (onChange)="activeIndex = $event.index">
                <div class="divPanel">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <p-tabView>
                                <p-tabPanel header="Información del trámite">
                                    <div class="ui-g-12">
                                        <app-general-information></app-general-information>
                                    </div>
                                </p-tabPanel>
                                <p-tabPanel header="Conceptos">
                                    <div class="ui-g-12">
                                        <app-concepts></app-concepts>
                                    </div>
                                </p-tabPanel>
                                <p-tabPanel header="Producción documental">
                                    <div class="ui-g-12">
                                        <p-tabView (onChange)="disableReview($event)">
                                            <p-tabPanel header="Produccion documental">
                                                <app-documentary-production></app-documentary-production>
                                            </p-tabPanel>
                                            <p-tabPanel header="Revisión documental">
                                                <app-documentary-production [isReview]="isReview"></app-documentary-production>

                                            </p-tabPanel>
                                            <p-tabPanel header="Aprobación documetal">
                                                Aprobar documento
                                            </p-tabPanel>
                                        </p-tabView>
                                    </div>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                </div>
            </p-tabView>
        </div>
    </div>
</div>
