<div class="ui-g-12">
    <div class="p-grid">
        <div class="p-col-5 p-col-align-start">
            <!-- <h1 class="tab-title-h1">Registro Sanitario</h1> -->
        </div>
        <div class="p-col-5 p-col-align-center"></div>
        <div class="p-col-2 p-col-align-end" style="text-align:center;">
            <p-button (click)="showDialog()" style="padding-bottom: 5%;">
                <span class="material-icons">
                    group
                </span>
            </p-button><br>
            <label> Enviar a GASECR</label>
        </div>
    </div>
</div>

<p-dialog header="Tipo de solicitud Grupo de Apoyo Salas Especializadas Comisión Revisora" [(visible)]="display" [style]="{width: '55vw'}">
    <div class="ui-fluid">
        <div class="p-grid">
            <div class="p-col-10">
                <p-dropdown [options]="options" appendTo="body"></p-dropdown>
            </div>
            <div class="p-col p-col-align-start"></div>
            <div class="p-col p-col-align-center"></div>
            <div class="p-col p-col-align-end" style="text-align: right;"><p-button label="Continuar" styleClass="ui-button-info" (onClick)="handleClick($event)"></p-button></div>
        </div>
    </div>
</p-dialog>