.room-scheduling label {
  margin: 0.5rem 0;
  display: block;
}

::ng-deep .room-scheduling .ui-dropdown,
::ng-deep .room-scheduling .ui-calendar, 
::ng-deep .room-scheduling .ui-calendar .ui-inputtext {
  width: 100%;
  min-width: auto;
}

::ng-deep .room-scheduling .room-scheduling__full-calendar {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.room-scheduling .room-scheduling__controls {
  text-align: end;
}

.room-scheduling .room-scheduling__controls button {
  margin: 1rem;
  width: 100px;
}