<form class="p-grid room-scheduling" [formGroup]="fgRoomsScheduling" >
  <div class="p-col-12 p-md-6 p-xl-3 ">
    <label class="tab-title-h1"> *Sala </label>
    <p-dropdown [options]="schedulingService.listRoom" formControlName="idSala"
      placeholder="Seleccione" showClear="true"
      optionLabel="NombreCorto" >
    </p-dropdown>
  </div>
  <div class="p-col-12 p-md-6 p-xl-3">
    <label class="tab-title-h1"> *Tipo de sesión </label>
    <p-dropdown [options]="schedulingService.listSession" formControlName="idSesion"
      placeholder="Seleccione" showClear="true"
      optionLabel="Descripcion">
    </p-dropdown>
  </div>
  <div class="p-col-12 p-md-6 p-xl-3">
    <label class="tab-title-h1"> *Fecha inicial agendamiento </label>
    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" formControlName="fechaInicio"></p-calendar>
  </div>
  <div class="p-col-12 p-md-6 p-xl-3">
    <label class="tab-title-h1"> *Fecha final agendamiento </label>
    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" formControlName="fechaFin"></p-calendar>
  </div>
  <div class="p-col-12 p-md-6 p-xl-3">
    <label class="tab-title-h1"> *Horaro inicial </label>
    <p-dropdown [options]="schedulingService.listHoursSchedulingIni" formControlName="horaInicio"
      placeholder="Seleccione" showClear="true"
      optionLabel="Descripcion">
    </p-dropdown>
  </div>
  <div class="p-col-12 p-md-6 p-xl-3">
    <label class="tab-title-h1"> *Horario final </label>
    <p-dropdown [options]="schedulingService.listHoursSchedulingFin" formControlName="horaFinal"
      placeholder="Seleccione" showClear="true"
      optionLabel="Descripcion">
    </p-dropdown>
  </div>
  <div class="p-col-12 p-md-6 p-xl-3">
    <label class="tab-title-h1"> *Fecha inicial de corte </label>
    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" formControlName="fechaCorteInicial"></p-calendar>
  </div>
  <div class="p-col-12 p-md-6 p-xl-3">
    <label class="tab-title-h1"> *Fecha final de corte </label>
    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" formControlName="fechaCorteFinal"></p-calendar>
  </div>
  <div class="p-col-12">
    <p-fullCalendar styleClass="room-scheduling__full-calendar" [events]="events" [options]="options"></p-fullCalendar>
  </div>
  <div class="p-col-12 room-scheduling__controls">
    <button pButton 
      type="button" label="Guardar" (click)="createAgenda()" class="ui-button-rounded ui-button-primary">
    </button>
    <button pButton 
      type="button" label="Cancelar" class="ui-button-rounded ui-button-primary">
    </button>
  </div>
</form>


<!--Modal informacion relacionada a la fecha agendada-->
<p-dialog [(visible)]="displayDateInfo" [modal]="true" [draggable]="false">
  <app-modal-sheduled-date-information 
    [room]="roomScheduling" 
    (update)="updateFormRoomScheduling($event)"
    (delete)="deleteRoomScheduling($event)">
  </app-modal-sheduled-date-information>  
</p-dialog>
