<div class="content">
    <div class="ui-fluid">
        <div class="ui-g">

            <p-fieldset class="ui-g-12">

                <p-header>Informacion General</p-header>


                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">N° radicado asociado </label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                   autocapitalize="off" spellcheck="off"/>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Fecha radicacion</label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                   autocapitalize="off" spellcheck="off"/>
                        </div>
                    </div>
                </div>


                <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                    <div class="ui-g-12">
                        <label class="tab-title-h5">Sede</label>
                    </div>
                    <div class="ui-g-12">
                        <p-dropdown placeholder="Seleccione" optionLabel="name"
                                    [disabled]="disable">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                    <div class="ui-g-12">
                        <label class="tab-title-h5">Dependencia</label>
                    </div>
                    <div class="ui-g-12">
                        <p-dropdown [options]="options" [showClear]="true"
                                    placeholder="Seleccione" optionLabel="name"
                                    [filter]="true" showClear="true" [disabled]="disable">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                    <div class="ui-g-12">
                        <label class="tab-title-h5">Funcionario</label>
                    </div>
                    <div class="ui-g-12">
                        <p-dropdown [options]="options" [showClear]="true"
                                    placeholder="Seleccione" optionLabel="name"
                                    [filter]="true" showClear="true">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                    <div class="ui-g-12">
                        <label class="tab-title-h5">Tipo de documento a producir</label>
                    </div>
                    <div class="ui-g-12">
                        <p-dropdown [options]="options" [showClear]="true"
                                    placeholder="Seleccione" optionLabel="name"
                                    [filter]="true" showClear="true" [disabled]="isReview">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12" *ngIf="!isReview" style="display: flex; margin-top: 38px">

                        <div>
                            <button pButton type="button" class="ui-button-success"
                                    label="Generar"></button>
                        </div>

                </div>


            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Documento Asociado</p-header>
                <p-table [value]="tableAssociatedDocument" [responsive]="true" [style]="{width: '90%'}">
                    <ng-template pTemplate="header">
                        <tr>

                            <th>Nombre documento</th>
                            <th>Usuario</th>
                            <th>Fecha creacion</th>
                            <th style="width: 20%; text-align: center">Accion</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                        <tr>
                            <td>{{rowData.nameDocument}}</td>
                            <td>{{rowData.user}}</td>
                            <td>{{rowData.date}}</td>
                            <td style="text-align: right">
                                <button pButton type="button"
                                        class="ui-button-rounded ui-button"
                                        style="margin: 10px" icon="ui-icon-trash">

                                </button>
                                <button pButton type="button"
                                        class="ui-button-rounded ui-button"
                                        style="margin: 10px" icon="ui-icon-pencil">

                                </button>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Gestion documental</p-header>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Sede</label>
                        </div>
                        <div class="ui-g-12">
                            <p-dropdown [options]="options" [showClear]="true"
                                        placeholder="Seleccione" optionLabel="name"
                                        [filter]="true" showClear="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Dependencia</label>
                        </div>
                        <div class="ui-g-12">
                            <p-dropdown [options]="options" [showClear]="true"
                                        placeholder="Seleccione" optionLabel="name"
                                        [filter]="true" showClear="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Funcionario</label>
                        </div>
                        <div class="ui-g-12">
                            <p-dropdown [options]="options" [showClear]="true"
                                        placeholder="Seleccione" optionLabel="name"
                                        [filter]="true" showClear="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <div class="ui-g-12">
                            <label class="tab-title-h5">Rol</label>
                        </div>
                        <div class="ui-g-12">
                            <input pInputText type="text" autocomplete="off" autocorrect="off"
                                   autocapitalize="off" spellcheck="off"/>
                        </div>
                    </div>
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">

                        <div class="ui-g-12" style="display: flex; margin-top: 28px">
                            <div >
                                <button pButton type="button" class="ui-button-success"
                                        label="Finalizar tarea"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <p-table [value]="tableDocumentManagement" [responsive]="true" [style]="{width: '90%'}">
                        <ng-template pTemplate="header">
                            <tr>

                                <th>Sede</th>
                                <th>Dependencia</th>
                                <th>Rol</th>
                                <th>Funcionario</th>
                                <th style="width: 20%; text-align: center">Accion</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-index="rowIndex" let-rowData>
                            <tr>
                                <td>{{rowData.campus}}</td>
                                <td>{{rowData.dependence}}</td>
                                <td>{{rowData.rol}}</td>
                                <td>{{rowData.officer}}</td>
                                <td>{{rowData.action}}</td>


                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </p-fieldset>
            <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12" *ngIf="isReview">

                <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                    <div class="ui-g-12">
                        <label class="tab-title-h5">Dependencia</label>
                    </div>
                    <div class="ui-g-12">
                        <p-dropdown [options]="options" [showClear]="true"
                                    placeholder="Seleccione" optionLabel="name"
                                    [filter]="true" showClear="true">
                        </p-dropdown>
                    </div>
                </div>


                <div class="ui-sm-12 ui-g-8 ui-lg-8 ui-md-12" style="margin-top: 40px">
                    <div class="ui-sm-12 ui-g-4 ui-lg-4 ui-md-12">
                        <p-checkbox name="group1" value="New York"
                                    label="Abogado"
                                    inputId="ny">
                        </p-checkbox>
                    </div>

                    <div class="ui-sm-12 ui-g-8 ui-lg-8 ui-md-8">
                        <p-checkbox name="group1" value="New York"
                                    label="Tecnico"
                                    inputId="ny">
                        </p-checkbox>
                    </div>

                </div>
                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="ui-g-12">
                        <label class="tab-title-h5">Observacion</label>
                    </div>
                    <div class="ui-g-12">
                        <input pInputText type="text" autocomplete="off" autocorrect="off"
                               autocapitalize="off" spellcheck="off"/>
                    </div>
                </div>

                <div class="ui-g-12" style="display: flex; justify-content: flex-end;">
                    <div class="ui-g-2">
                        <button pButton type="button" class="ui-button-success"
                                label="Finalizar tarea"></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
