<div class="ui-g">
    <form [formGroup]="formQuestion">
        <div class="ui-g-12 " style="padding: 7px;margin: 5px" *ngFor="let pregunta of questions">
            <p  class="ui-g-12">{{pregunta.name}}</p>
            <div class="ui-g-12" *ngIf="pregunta.grupo!=='grupo3' && pregunta.grupo!=='grupo4'">
                <div class="ui-g-4">
                    <p-radioButton class="ui-g-1 form-control " required="required" formControlName="{{pregunta.grupo}}" value="Si" label="Si" name="{{pregunta.grupo}}"
                                   ></p-radioButton>
                </div>
                <div class="ui-g-4">
                    <p-radioButton class="ui-g-1 form-control" required="required" formControlName="{{pregunta.grupo}}" value="No" label="No" name="{{pregunta.grupo}}"
                                   ></p-radioButton>
                </div>
                <div class="ui-g-4">
                    <p-dropdown class="ui-g-1" [options]="visitingCityLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                                [style]="{minWidth:'100%'}" formControlName="{{pregunta.grupo}}" [filter]="true" showClear="true"  >
                    </p-dropdown>
                </div>
            </div>

            <input class="ui-g-1 ui-sm-3" type="number" min="0" formControlName="{{pregunta.grupo}}"  required="required" *ngIf="pregunta.grupo=='grupo4'" >

        </div>
    </form>
</div>
