::ng-deep .scheduling__modal {
  min-width: 300px;
  max-width: 700px;
  width: 80%;
  max-height: 80%;
}

::ng-deep .scheduling__modal .ui-dialog-content{
  height: 100%;
}

::ng-deep .scheduling__modal--edit-agenda button {
  width: 100px !important;
}