<h1 class="tab-title-h1">Trabajo Agendado</h1>
<div class="p-grid p-align-stretch vertical-container">
  <app-search-scheduling class="p-col-12 p-xl-8"
    (clickButton)="table.applyFilter($event)"
    [fgSearchScheduling]="fgSearchScheduling"
    [view]="'ANY001'"
  ></app-search-scheduling>
  <app-list-button-action class="p-col-12 p-xl-4" [listControls]="listAccions"></app-list-button-action>
  <app-table-scheduling #table class="p-col-12"
    [columnsTable]="columnsTable"
    [valuesTable]="valuesTable"
  ></app-table-scheduling>
</div>

<!-- Edit Agenda Modal -->
<p-dialog [(visible)]="displayEditAgenda" [modal]="true" [draggable]="false" styleClass="scheduling__modal scheduling__modal--edit-agenda ">
  <p-header class="tab-title-h1" >Cantidad de registros: {{table.selectedItems?.length}}</p-header>
  <app-edit-agenda-scheduling ></app-edit-agenda-scheduling>
  <p-footer>
    <button pButton 
      type="button" label="Guardar" class="ui-button-rounded ui-button-success">
    </button>
    <button pButton (click)="displayEditAgenda=false" 
      type="button" label="Cerrar" class="ui-button-rounded ui-button-primary">
    </button>
  </p-footer>
</p-dialog>

<!-- Return Modal -->
<p-dialog [(visible)]="displayReturn"  [modal]="true" [draggable]="false">
  <app-return-modal #return [form] = "fgReturnScheduling" > </app-return-modal>
  <p-footer>
    <button pButton (click)="getfgReturnModal(return.fgReturnModal)"
      type="button" label="Guardar" class="ui-button-rounded ui-button-success">
    </button>
    <button pButton (click)="displayReturn=false" 
      type="button" label="Cerrar" class="ui-button-rounded ui-button-primary">
    </button>
  </p-footer>
</p-dialog>

<!-- Attach Document Modal -->
<p-dialog [(visible)]="displayAttachDocument" [modal]="true" [draggable]="false" styleClass="scheduling__modal">
  <p-header class="tab-title-h1">
    <small>los datos requeridos para el documento que requiere adjuntar/ver &nbsp;&nbsp;</small> </p-header>
  <app-attach-document-scheduling #attachDoc
    [fgSearchScheduling]="fgSearchScheduling"
  ></app-attach-document-scheduling>
  <p-footer>
    <button pButton type="button" (click)="sendAttachDocument(attachDoc.fgAttachDocument)" label="Enviar" class="ui-button-rounded ui-button-success"></button>
  </p-footer>
</p-dialog>

<!-- Export Modal -->
<p-dialog [(visible)]="displayExport" [modal]="true" [draggable]="false" >
  <app-export-modal></app-export-modal>
  <p-footer>
    <button pButton (click)="displayExport=false" 
      type="button" label="Cerrar" class="ui-button-rounded ui-button-primary">
    </button>
  </p-footer>
</p-dialog>

<!-- Admin Modal -->
<p-dialog [(visible)]="displayAdmin" [modal]="true" [draggable]="false" styleClass="scheduling__modal">
  <app-room-scheduling-admin></app-room-scheduling-admin>
</p-dialog>