<div class="exception-body notfound">
    <div class="exception-panel">
        <div class="exception-content">
            <img src="assets/layout/images/pages/icon-404.svg">
            <h1>Pagina no encontrada</h1>
            <p>El recurso solicitado no está disponible.</p>
            <button type="button" [routerLink]="['/']"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"
                aria-disabled="false">
                <span class="ui-button-text ui-c">Ir a Dashboard</span>
            </button>
        </div>
    </div>
</div>