<div class="ui-g">

    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Tipo Certificado</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="certifiedTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                        [style]="{minWidth:'100%'}" [(ngModel)]="certifiedType" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>


    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Tiene Certificado</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="hasCertificateLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                        [style]="{minWidth:'100%'}" [(ngModel)]="hasCertificate" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>


    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Certificado requerido</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="requiredCertificate" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>


    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Número de certificado</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="certificateNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div>


    <div class="ui-sm-8 ui-g-8 ui-lg-8 ui-md-8">
        <div class="ui-g-12" style="margin-top: -6px;">
            <label class="tab-title-h5">Agencia que expide el certificado</label>
        </div>
        <div class="ui-g-12" >
            <p-dropdown [options]="agencyExpeditionLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                        [style]="{minWidth:'100%'}" [(ngModel)]="agencyExpedition" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>


    <div class="ui-sm-8 ui-g-8 ui-lg-8 ui-md-8">
        <div class="ui-g-12" style="margin-top: -6px;">
            <label class="tab-title-h5">Agencia referencia</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="referenceAgencyLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                        [style]="{minWidth:'100%'}" [(ngModel)]="referenceAgency" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>



    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fecha expedición</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="expeditionDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" >
            </p-calendar>
        </div>
    </div>



    <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fecha vigencia</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="validityDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" >
            </p-calendar>
        </div>
    </div>



    <div class="ui-sm-8 ui-g-8 ui-lg-8 ui-md-8">
        <div class="ui-g-12" style="margin-top: -9px;">
            <label class="tab-title-h5">Certificado</label>
        </div>
        <div class="ui-g-12">
                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" ></p-fileUpload>
        </div>
    </div>



</div>



    <div style="text-align: right">
        <button pButton type="button" label="Agregar" class="ui-button-rounded ui-button-success"
                style="width: 150px" (click)=" insert()" ></button>
    </div>



<div class="ui-g" style="margin-top: +12px;">


    <p-table [value]="value" [(selection)]="selected" selectionMode="multiple">
        <ng-template pTemplate="header">
            <tr>
                <th>Tipo certificado</th>
                <th>Tiene certificado</th>
                <th>Certificado requerido</th>
                <th>Número certificado</th>
                <th>Agencia que expide Certificado</th>
                <th>Agencia referencia</th>
                <th>Fecha expedición</th>
                <th>Fecha vigencia</th>
                <th>Certificado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex" >
            <tr [pSelectableRow]="item"  [pSelectableRowDisabled]="null">
                <td>{{item.certifiedType.label || ""}}</td>
                <td>{{item.hasCertificate.label || ""}}</td>
                <td>{{item.requiredCertificate}}</td>
                <td>{{item.certificateNumber}}</td>
                <td>{{item.agencyExpedition.label || ""}}</td>
                <td>{{item.referenceAgency.label || ""}}</td>
                <td>{{item.expeditionDate || "" | date:'dd/MM/yyyy'}}</td>
                <td>{{item.validityDate || "" | date:'dd/MM/yyyy'}}</td>
                <td style="text-align: center">
                    <button icon="pi pi-eye" pButton type="button" class="ui-button-rounded ui-button-info"
                            style="width: 30px" (click)="viewPdf()"></button>
                </td>
                <td >{{item.acciones}}


                </td>
            </tr>
        </ng-template>

    </p-table>


</div>

<div style="margin-top: +12px; text-align: right " >
    <button pButton type="button" label="Guardar" class="ui-button-rounded ui-button-success"
            style="width: 150px"></button>
</div>

