<a href="#/RegistroSanitario/requestHearing?type=anx20">anx20</a>
<a href="#/RegistroSanitario/requestHearing?type=anx21">anx21</a>

<div class="solicitud">
  <div class="p-grid p-align-center">
    <div class="p-col-12 p-md-6">
      <h1>Solicitud audiencia</h1>
    </div>
    <div class="p-col-12 p-md-6" *ngIf="type == query.OPTION1">
      <label> Número de radicado:</label> <span>202154065654</span><br>
      <label> Fecha de radicado:</label> <span>18/04/2021 4:25 pm</span>
    </div>
    <div class="p-col-12 p-md-6" *ngIf="type == query.OPTION2">
      <label> Fecha envio a salas solicitud :</label> <span>18/04/2021 4:25 pm</span><br>
    </div>
  </div>

  <div *ngIf="type == query.OPTION1">
    <h3 class="subtitle">Búsqueda de radicado</h3>
    <app-list-inputs [listInputs]="listInputs"></app-list-inputs>
  </div>


  <div *ngIf="type == query.OPTION2">
    <h3 class="subtitle">Información General</h3>
    <app-list-inputs [listInputs]="listInputs"></app-list-inputs>
  </div>

  <div>
    <div class="related-data" *ngIf="type==query.OPTION2">
      <h3 class="subtitle">Datos del radicado relacionado</h3>
      <app-filing-data></app-filing-data>
    </div>
  </div>

  <div class="request-detail" *ngIf="type==query.OPTION1 || type==query.OPTION2 ">
    <h3 class="subtitle">Detalle solicitud</h3>
    <br>
    <div *ngIf="type==query.OPTION1" class="p-field ui-fluid request-detail__textarea">
      <app-request-retail></app-request-retail>
      <label for="request">* Consulta y antecedentes</label>
      <textarea id="request" [rows]="5" pInputTextarea autoResize="autoResize" maxlength="4000" required
        placeholder="Ej: Se indica que la dosis es muy alta sin embargo se requiere un concepto de la sala para indicar si existen estudios que validen la efectividad o contraindicaciones para pacientes de rango de edad de 20 años."></textarea>
    </div>
    <br>
    <div *ngIf="type==query.OPTION2">
      <app-request-retail></app-request-retail>
      <app-details-request></app-details-request>
    </div>
    <app-attach-documents></app-attach-documents>
  </div>

  <div class="request-detail" *ngIf="type==query.OPTION2 ">
    <h3 class="subtitle">Seleccionar sala</h3>
    <app-select-room *ngIf="type == query.OPTION2">
    </app-select-room>
  </div>

  <div class="controls p-grid p-justify-end p-nogutter">
    <div class="p-col-3 p-md-1">
      <button pButton type="button" label="Radicar" *ngIf="type==query.OPTION1"
        class="ui-button-rounded ui-button-primary"></button>
      <button pButton type="button" label="Enviar" *ngIf="type==query.OPTION2"
        class="ui-button-rounded ui-button-primary"></button>
    </div>
  </div>
</div>