<p-table [value]="infoLegalAttorney" dataKey="documentNumber">
    <ng-template pTemplate="header">
        <tr>
            <th>Tipo usuario</th>
            <th>Tipo documento</th>
            <th>Numero documento</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.userType">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.userType}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.documentType">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.documentType}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                {{rowData.documentNumber}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.reasonName">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.reasonName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.stateInformation">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.stateInformation}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" icon="ui-icon-plus"
                        class="ui-button-info" (click)="moreDetailTable(headers2, infoLegalAttorney)"></button>
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="ui-icon-edit"
                        class="ui-button-info" (click)="onRowEditInitTable2(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em"
                        (click)="onRowEditSaveTable2(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancelTable2(rowData, ri)"></button>
                <button *ngIf="!editing" pButton type="button" icon="ui-icon-trash"
                        class="ui-button-info" (click)="onRowDeleteTable2(ri)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<p-toast position="top-right"></p-toast>
<div style="text-align: right">
    <button pButton type="button" (click)="showDialogAttorney()" label="Agregar"
            class="ui-button-rounded ui-button-success"
            style="width: 150px"></button>
</div>
<p-dialog (onHide)="onHideAttorney()" header="Informacion representante legal-apoderado"
          [(visible)]="displayAttorney" [style]="{width: '70vw'}">
    <app-popup-attorney (getData)="catchDataFormInfoLegalAttorney($event)"
                                    [infoLegal]="getItemInfoLegalAttorney"
                                    [isEditing]="isEditing"></app-popup-attorney>
</p-dialog>
<p-dialog (onHide)="onHideDataMore()" header="Mas Información" [(visible)]="isActivateMoreData" [style]="{width: '70vw'}">
    <app-show-more [data]="list" [headers]="headers"></app-show-more>
</p-dialog>
