<div class="ui-fluid">
    <!-- [formGroup] = "fgRequestDetail" -->
    <div class="ui-g">
        <label style="margin-top: 3%;">* solicitud y antecedentes</label>
        <div class="ui-sm-12 ui-md-12 ui-lg-11">
            <textarea [(ngModel)]="descriptionRequirement" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" maxlength="4000" required placeholder="Ej: Se indica que la dosis es muy alta sin embargo se requiere un concepto de la sala para indicar si existen estudios que validen la efectividad o contraindicaciones para pacientes de rango de edad de 20 años."></textarea>
            <!-- formControlName="consultation" -->

            <div style="text-align: right;">
                <p-button label="Agregar" styleClass="ui-button-info" (onClick)="saveRequirement()"></p-button>
            </div>
        </div>

        <div class="ui-sm-12 ui-md-12 ui-lg-12">
            <label>Trazabilidad consulta</label>
        </div>

        <div class="ui-sm-12 ui-md-12 ui-lg-12">
            <p-table [columns]="cols" [value]="requirements" selectionMode="single" [(selection)]="selectedRequirement" [paginator]="true" [rows]="5" [responsive]="true" [style]="{'margin':'15px'}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center; background-color: #009ec8; color: white; font-weight: bold; height: 80px;">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" style="text-align: center;">
                            <div *ngIf="col.field != 'acciones'; else elseBlock">
                                {{ rowData[col.field] }}
                            </div>
                            <ng-template #elseBlock>
                                <span class="material-icons cursor-dynamic" tooltipPosition="top" pTooltip="Editar requerimiento" style="margin-right: 10%;" (click)="selectRequirement(rowData)">edit</span>
                                <span class="material-icons cursor-dynamic" tooltipPosition="top" pTooltip="Eliminar requerimiento" (click)="confirm(rowData)">delete</span>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog header="Editar consulta" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '40vw'}">
        <div class="p-grid ui-fluid" *ngIf="requirement">
            <div class="p-field p-col-12">
                <label for="requerimiento">Requerimiento</label><br><br>
                <textarea id="requerimiento" type="text" rows="4" pInputTextarea [(ngModel)]="requirement.requerimiento" autofocus></textarea>
            </div>
        </div>

        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="updateRequirement()" label="Guardar"></button>
        </p-footer>
    </p-dialog>
</div>