<div class="ui-g">

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Fecha solicitud</label>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="requestDate" [locale]="es"
                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" disabled="true">
            </p-calendar>
        </div>
    </div>

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Grupo</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="groupLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="groupSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <!-- <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
        <div class="ui-g-12">
            <label class="tab-title-h5">Intención</label>
        </div>
        <div class="ui-g-12">
            <input [(ngModel)]="purpose" pInputText type="text" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="off" disabled="true" />
        </div>
    </div> -->

    <!-- <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12" style="margin-top: -6px;">
            <label class="tab-title-h5">Categoria trámite</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="procedureCategoryLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [(ngModel)]="procedureCategorySelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div> -->

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Tipo de trámite</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="procedureTypeLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="procedureTypeSelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
        <div class="ui-g-12">
            <label class="tab-title-h5">Modalidad</label>
        </div>
        <div class="ui-g-12">
            <p-dropdown [options]="modalityLs" [showClear]="true" placeholder="Seleccione" optionLabel="name"
                [style]="{minWidth:'100%'}" [(ngModel)]="modalitySelect" [filter]="true" showClear="true">
            </p-dropdown>
        </div>
    </div>

    <!-- <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngFor="let item of pesticideClassLs">
        <div class="ui-g-4">
            <label class="tab-title-h5">Clase de plaguicida</label>
        </div>
        <div class="ui-g-8">
            <p-radioButton value="code" label="name" [(ngModel)]="pesticideClassSelect">
            </p-radioButton>
        </div>
    </div> -->

</div>
