<div class="ui-g">

    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
        <div class="ui-g-12">
            <p>N° de radicado</p>
        </div>
        <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="numberRadicated">
        </div>
    </div>
    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
        <div class="ui-g-12">
            <p>Fecha inicial</p>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="initDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050">
            </p-calendar>
        </div>

    </div>
    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
        <div class="ui-g-12">
            <p>Fecha final</p>
        </div>
        <div class="ui-g-12">
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="endDate" [locale]="es"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" >
            </p-calendar>
        </div>
    </div>
    <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
        <div class="ui-g-12" style="height: 100%; display: flex; align-items: center;">
            <button pButton type="button" class="ui-button-info" icon="pi pi-search" iconPos="center"
                    ></button>
        </div>
    </div>

</div>
