<div class="content">
    <div class="ui-fluid">
        <h1 class="tab-title-h1">Radicar trámite</h1>
        <div class="ui-g">

            <p-fieldset class="ui-g-12">
                <p-header>Consultar radicado</p-header>
                <app-consult-filed >
                </app-consult-filed>
            </p-fieldset>


            <p-fieldset class="ui-g-12">
                <p-header>Resultados de la búsqueda</p-header>
                <app-table-of-radicates [radicatedLs]="radicatedFoundLs"></app-table-of-radicates>
            </p-fieldset>

            <p-fieldset class="ui-g-12">
                <p-header>Observaciones</p-header>
                <div class="ui-g">
                    <app-generic-table [columnsTable]="columns" [valuesTable]="val"></app-generic-table>
                </div>
            </p-fieldset>

            <div class="ui-g-12" style="display: flex; justify-content: flex-end;">
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button-success" icon="pi pi-chevron-right" iconPos="right"
                            label="Anular"></button>
                </div>
            </div>

        </div>
    </div>
</div>
