
<div class="ui-sm-12 ui-g-12 ui-lg-6 ui-md-6">
    <div class="ui-g-12">

        <p-fieldset>
            <p-header>Documentos asociados</p-header>
            <p-table  [value]="resultInformation" selectionMode="single" [paginator]="true" [responsive]="true" [rows]="10"
                     [style]="{ 'word-wrap': 'break-word'}" [customSort]="true">
                <ng-template pTemplate="header">
                    <tr style="background: #5b6976">
                        <th >Nombre documento</th>
                        <th style="text-align: center;  width: 20%">Fecha creacion</th>
                        <th style="text-align: center; width: 17%">Accion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>
                            <span class="material-icons cursor-dynamic">visibility</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </div>
</div>
<div class="ui-sm-12 ui-g-12 ui-lg-6 ui-md-6">
    <div class="ui-g-12">
        <p-fieldset>
            <p-header>Verificacion documental</p-header>
            <label>Concepto</label>
            <textarea rows="5" cols="30" pInputTextarea></textarea>
            <br>
            <br>
            <label >*Conclusion</label>
            <div class="ui-g" style="width:250px;margin-bottom:10px">
                <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Aprueba pago"  inputId="opt1"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Requiere modificacion"  inputId="opt2"></p-radioButton></div>
            </div>
        </p-fieldset>

    </div>
</div>




